<table class="table table-condensed table-hover" style="border-collapse: collapse; margin-bottom: 5px;"> 
    <thead>
        <tr>
            <th style="width: 15px;" align="center"></th>
            <th style="width: 15px;">Race</th>
            <th>Pseudo</th>
            <th class="hidden-md hidden-sm hidden-xs">Level</th>
            <th class="hidden-md hidden-sm hidden-xs">Expérience</th>
            <th>Classe</th>
            <th>PVE</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="pagedeclassement">

        {% if arrObjPlayers|length > 0 %}

            {% for objPlayers in arrObjPlayers %}
                <tr>
                    <td align="center">
                        {% if place == 1 %}
                            <i class="material-icons md-icon-star" style="color:#F3EC12;"></i>
                        {% elseif place == 2 %}
                            <i class="material-icons md-icon-star text-gray"></i>
                        {% elseif place == 3 %}
                            <i class="material-icons md-icon-star" style="color:#813838;"></i>
                        {% elseif place == 4 %}
                            <i class="material-icons md-icon-bookmark" style="color:#F3EC12; opacity: 0.5"></i>
                        {% elseif place == 5 %}
                            <i class="material-icons md-icon-bookmark text-gray" style="opacity: 0.5"></i>
                        {% elseif place == 6 %}
                            <i class="material-icons md-icon-bookmark" style="color:#813838; opacity: 0.5"></i>
                        {% else %}
                            {{ place }}
                        {% endif %}
                    </td>

                    <td>
                        {{ findIconJob(objPlayers.job)|raw }}
                    </td>

                    <td>
                        {{ objPlayers.name }}
                    </td>
                    <td class="hidden-md hidden-sm hidden-xs">
                        {{ objPlayers.level }}
                    </td>
                    <td  class="hidden-md hidden-sm hidden-xs">
                        {{ objPlayers.exp|number_format }}
                    </td>

                    <td>
                        {{ findSkillGroup(objPlayers.job, objPlayers.skillGroup) }}
                    </td>

                    <td>
                        {{ objPlayers.scorePve|number_format }}
                    </td>

                    <td style="width: 70px;">
                        {{ findIconEmpire(objPlayers.empire)|raw }}
                        {{ findIconOnline(objPlayers.online)|raw }}
                    </td>

                </tr>
                {% set place = (place + 1) %}
            {% endfor %}
        {% else %}
            Aucun joueur
        {% endif %}
    </tbody>
</table>

<div class="row" style="padding: 10px;">
    <div class="col-xs-6">
        <div class="pull-left">
            {% if numPage > 0 %}
                <a href="javascript:void(0)" onclick="Ajax_Classement('pages/Classements/ajax/ClassementJoueursPvEPage.php?page={{ (numPage - 1) }}')">Page précédente</a>
            {% endif %}
        </div>
    </div>

    <div class="col-xs-6">
        <div class="pull-right">
            {% if numPage < totalPage %}
                <a href="javascript:void(0)" onclick="Ajax_Classement('pages/Classements/ajax/ClassementJoueursPvEPage.php?page={{ (numPage + 1) }}')">Page suivante</a>
            {% endif %}
        </div>
    </div>
</div>