{% if finded %}
    {% if arrObjPlayers|length > 0 %}

        {% for objPlayers in arrObjPlayers %}

            <tr {% if search == objPlayers.name %} style="background: #414141;" {% endif %}>
                <td align="center">
                    {% if place == 1 %}
                        <i class="material-icons md-icon-star" style="color:#F3EC12;"></i>
                    {% elseif place == 2 %}
                        <i class="material-icons md-icon-star text-gray"></i>
                    {% elseif place == 3 %}
                        <i class="material-icons md-icon-star" style="color:#813838;"></i>
                    {% elseif place == 4 %}
                        <i class="material-icons md-icon-bookmark" style="color:#F3EC12; opacity: 0.5"></i>
                    {% elseif place == 5 %}
                        <i class="material-icons md-icon-bookmark text-gray" style="opacity: 0.5"></i>
                    {% elseif place == 6 %}
                        <i class="material-icons md-icon-bookmark" style="color:#813838; opacity: 0.5"></i>
                    {% else %}
                        {{ place }}
                    {% endif %}
                </td>

                <td>
                    {{ findIconJob(objPlayers.job)|raw }}
                </td>

                <td>
                    {{ objPlayers.name }}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">
                    {{ objPlayers.level }}
                </td>
                <td  class="hidden-md hidden-sm hidden-xs">
                    {{ objPlayers.exp|number_format }}
                </td>

                <td>
                    {{ findSkillGroup(objPlayers.job, objPlayers.skillGroup) }}
                </td>

                <td>
                    {{ objPlayers.scorePve|number_format }}
                </td>

                <td style="width: 70px;">

                    {{ findIconEmpire(objPlayers.empire)|raw }}

                    {% if objPlayers.online == 0 %}
                        <span data-tooltip="Hors-ligne" data-tooltip-position="left" class="pull-right">
                            <i class="text-red material-icons md-icon-account-circle"></i>
                        </span>
                    {% else %}
                        <span data-tooltip="En ligne" data-tooltip-position="left" class="pull-right">
                            <i class="text-green material-icons md-icon-account-circle"></i>
                        </span>
                    {% endif %}
                </td>

            </tr>

            {% set place = (place + 1) %}

        {% endfor %}

    {% else %}
        Aucun joueur
    {% endif %}
{% else %}
    Recherche non trouvée
{% endif %}