{% if finded %}
    {% if arrObjPlayers|length > 0 %}

        {% for objPlayers in arrObjPlayers %}

            <tr {% if search == objPlayers.name %} style="background: #414141;" {% endif %}>
                <td align="center">
                    {% if place == 1 %}
                        <i class="material-icons md-icon-star" style="color:#F3EC12;"></i>
                    {% elseif place == 2 %}
                        <i class="material-icons md-icon-star text-gray"></i>
                    {% elseif place == 3 %}
                        <i class="material-icons md-icon-star" style="color:#813838;"></i>
                    {% elseif place == 4 %}
                        <i class="material-icons md-icon-bookmark" style="color:#F3EC12; opacity: 0.5"></i>
                    {% elseif place == 5 %}
                        <i class="material-icons md-icon-bookmark text-gray" style="opacity: 0.5"></i>
                    {% elseif place == 6 %}
                        <i class="material-icons md-icon-bookmark" style="color:#813838; opacity: 0.5"></i>
                    {% else %}
                        {{ place }}
                    {% endif %}
                </td>

                <td>
                    {% if objPlayers.job == 0 %}
                        <img class="Dimension_Image_Classement" src="images/races/0_mini.png"/>
                    {% elseif objPlayers.job == 1 %}
                        <img class="Dimension_Image_Classement" src="images/races/1_mini.png"/>
                    {% elseif objPlayers.job == 2 %}
                        <img  class="Dimension_Image_Classement" src="images/races/2_mini.png"/>
                    {% elseif objPlayers.job == 3 %}
                        <img class="Dimension_Image_Classement" src="images/races/3_mini.png"/>
                    {% elseif objPlayers.job == 4 %}
                        <img class="Dimension_Image_Classement" src="images/races/4_mini.png"/>
                    {% elseif objPlayers.job == 5 %}
                        <img class="Dimension_Image_Classement" src="images/races/5_mini.png"/>
                    {% elseif objPlayers.job == 6 %}
                        <img class="Dimension_Image_Classement" src="images/races/6_mini.png"/>
                    {% elseif objPlayers.job == 7 %}
                        <img class="Dimension_Image_Classement" src="images/races/7_mini.png"/>
                    {% endif %}
                </td>

                <td>
                    {{ objPlayers.name }}
                </td>
                <td class="hidden-md hidden-sm hidden-xs">
                    {{ objPlayers.level }}
                </td>
                <td  class="hidden-md hidden-sm hidden-xs">
                    {{ objPlayers.exp }}
                </td>

                <td>
                    {% if objPlayers.job == 0 or objPlayers.job == 4 %}
                        {% if objPlayers.skillGroup == 1 %}
                            Corps à Corps
                        {% elseif objPlayers.skillGroup == 2 %}
                            Mental
                        {% else %}
                            Non-définie
                        {% endif %}
                    {% elseif objPlayers.job == 1 or objPlayers.job == 5 %}
                        {% if objPlayers.skillGroup == 1 %}
                            Assasin
                        {% elseif objPlayers.skillGroup == 2 %}
                            Archer
                        {% else %}
                            Non-définie
                        {% endif %}
                    {% elseif objPlayers.job == 2 or objPlayers.job == 6 %}
                        {% if objPlayers.skillGroup == 1 %}
                            Arme magique
                        {% elseif objPlayers.skillGroup == 2 %}
                            Magie Noir
                        {% else %}
                            Non-définie
                        {% endif %}
                    {% elseif objPlayers.job == 3 or objPlayers.job == 7 %}
                        {% if objPlayers.skillGroup == 1 %}
                            Dragon
                        {% elseif objPlayers.skillGroup == 2 %}
                            Soin
                        {% else %}
                            Non-définie
                        {% endif %}
                    {% else %}
                        Non-définie
                    {% endif %}
                </td>

                <td>
                    {{ objPlayers.scorePve }}
                </td>

                <td>
                    {% if objPlayers.empire == 1 %}
                        <i data-tooltip="Empire Shinsoo" data-tooltip-position="left" class="text-red material-icons md-icon-map md-20"></i>
                    {% elseif objPlayers.empire == 2 %}
                        <i data-tooltip="Empire Chunjo" data-tooltip-position="left" class="text-yellow material-icons md-icon-map md-20"></i>
                    {% elseif objPlayers.empire == 3 %}
                        <i data-tooltip="Empire Jinno" data-tooltip-position="left" class="text-blue material-icons md-icon-map md-20"></i>
                    {% endif %}
                </td>
                <td>
                    {% if objPlayers.online == 0 %}
                        <span data-tooltip="Hors-ligne" data-tooltip-position="left" class="pull-right">
                            <i class="text-red material-icons md-icon-account-circle"></i>
                        </span>
                    {% else %}
                        <span data-tooltip="En ligne" data-tooltip-position="left" class="pull-right">
                            <i class="text-green material-icons md-icon-account-circle"></i>
                        </span>
                    {% endif %}
                </td>

            </tr>

            {% set place = (place + 1) %}

        {% endfor %}

    {% else %}
        Aucun joueur
    {% endif %}
{% else %}
    Recherche non trouvée
{% endif %}