{% if arrObjItemshop|length > 0 %}

    {% for objItemshop in arrObjItemshop %}

        <div class="articleItemShop {% if objItemshop.getEstImportant == "1" %}important{% endif %}" onclick="Ajax('pages/ItemShop/ItemShopDetails.php?id_recu={{ objItemshop.getId }}');"  data-tooltip-isItemMetin="1" data-tooltip-track="1" data-tooltip="{{ objItemshop.getInfoItem }}">

            {% set imageSize = getimagesize(urlBase ~ "/images/items/" ~ objItemshop.getIdItem ~ ".png") %}

            {% if imageSize == false %}
                <img class="imgArticle imgArticlePetite" src="../images/item_inexistant_1.png" width="32" />
            {% else %}

                {% if imageSize.1 > imageSize.0 %}

                    {% if imageSize.1 > 64 %}
                        <img class="imgArticle imgArticleTresGrande" src="../../images/items/{{ objItemshop.getIdItem }}.png" />
                    {% else %}
                        <img class="imgArticle imgArticleGrande" src="../../images/items/{{ objItemshop.getIdItem }}.png" />
                    {% endif %}

                {% else %}

                    {% if imageSize.0 > 60 %}
                        <img class="imgArticle" style="top:10%;" src="../../images/items/{{ objItemshop.getIdItem }}.png" />
                    {% else %}
                        <img class="imgArticle imgArticlePetite" src="../../images/items/{{ objItemshop.getIdItem }}.png" width="32" />
                    {% endif %}   

                {% endif %}           
            {% endif %}

            <div style="position: absolute; bottom: 0px; height: 65px; width: 100%; background: #313131; border-top: 1px solid #484848;">
                <div class="Nom_Article">
                    {{ objItemshop.getNameItem }}
                </div>

                {% if objItemshop.getNbItem > 1 %}
                    <div class="articleNombreItemShop">
                        {% if objItemshop.getType == "2" %}
                            {% if objItemshop.getNbItem == 9999 %}
                                A vie
                            {% else %}
                                {{ objItemshop.getNbItem }} jours
                            {% endif %} 
                        {% else %}
                            x{{ objItemshop.getNbItem }}
                        {% endif %} 
                    </div>
                {% endif %}

                <div class="articlePrixItemShop {% if objItemshop.getType == "3" %}bg-gray text-black{% else %}btn-warning{% endif %}">
                    <span>{{ objItemshop.getPrix|number_format(0, '.', '.') }}</span>
                </div>
            </div>

        </div>
    {% endfor %}

{% endif %}