<script type="text/javascript" src="pages/ItemShop/js/fonctions.min.js"></script>

<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Magasin d'items</h3>

        {% if config.item_shop.rechargement.activate %}
            <div class="box-tools">
                <a onclick="Ajax('pages/ItemShop/ItemShopRechargement.php?idcompte={{ session.get("ID") }}&nomCompte={{ session.get("Utilisateur") }}');" class="btn btn-primary btn-sm btn-flat">Recharger</a>
            </div>
        {% endif %}
    </div>

    <div class="box-body">

        <div class="row">

            <div class="col-lg-3 specialColumn" style="text-align: center; margin-bottom: 10px;">

                {% if arrObjItemshopCategories|length > 0 %}
                    {% for objItemshopCategorie in arrObjItemshopCategories %}
                        <button type="button" onclick="Appel_Categorie_ItemShop({{ objItemshopCategorie.getCat }})" class="btn btn-flat btn-block btnItemShopCategorie">{{ objItemshopCategorie.getNom }}</button>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-lg-9 specialColumn">
                <div id="Item_Shop_Contenue">

                    <div id="Contenue_Categorie">
                        <div id="Tableau_Liste_Article">
                            {{ viewItemshopDefault|raw }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>