<script type="text/javascript" src="pages/ItemShop/js/fonctions.min.js"></script>

<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Magasin d'items</h3>

        <div class="box-tools">
            <a onclick="Ajax('pages/ItemShop/ItemShopRechargement.php?idcompte={{ session.get("ID") }}&nomCompte={{ session.get("Utilisateur") }}');" class="btn btn-sm btn-primary btn-flat">Recharger</a>
        </div>
    </div>

    <div class="box-body no-padding">

        <div class="row">

            <div class="col-lg-3">
                <div id="ItemShop_Partie_Menu">

                    {% if arrObjItemshopCategories|length > 0 %}
                        <table class="table table-condensed table-hover table-responsive" style="border-collapse: collapse;">

                            {% for objItemshopCategorie in arrObjItemshopCategories %}
                                <tr>
                                    <td style="cursor: pointer; border-top: 0px; border-right: 1px solid #444; border-bottom: 1px solid #444;" onclick="Appel_Categorie_ItemShop({{ objItemshopCategorie.getCat }})">
                                        <span>{{ objItemshopCategorie.getNom }}</span>
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-9">
                <div id="Item_Shop_Contenue">

                    <div id="Contenue_Categorie">
                        <div id="Tableau_Liste_Article" style="padding: 10px;">
                            {{ viewItemshopDefault|raw }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>