<div class="row">

    <div class="col-lg-8">

        <div class="box box-default flat">

            <div class="box-header">
                <h3 class="box-title">
                    {{ objItemShop.getNameItem }}
                    {% if objItemShop.getNbItem > 1 %}
                        <span class="text-yellow">
                            {% if objItemShop.getType == "2" %}
                                {% if objItemShop.getNbItem == 9999 %}
                                    A vie
                                {% else %}
                                    {{ objItemShop.getNbItem }} jours
                                {% endif %} 
                            {% else %}
                                x{{ objItemShop.getNbItem }}
                            {% endif %} 
                        </span>
                    {% endif %} 
                </h3>
            </div>

            <div id="ContenantAchat">

                <div class="box-body" style="min-height: 180px;">
                    <div class="row">

                        <div class="col-lg-4" style="height: 90px;">
                            {% if imgItem.1 > imgItem.0 %}
                                <img class="imgArticle" src="../../images/items/{{ objItemShop.getIdItem }}.png" />
                            {% else %}
                                <img class="imgArticle" src="../../images/items/{{ objItemShop.getIdItem }}.png" />
                            {% endif %}
                        </div>
                        <div class="col-lg-8">
                            {% if objItemShop.getFullDescription == "" %}
                                {{ objItemShop.getInfoItem }}
                            {% else %}
                                {{ objItemShop.getFullDescription }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-4">

        <div class="box box-default flat">

            <div class="box-header">
                <h3 class="box-title">
                    Finalisation
                </h3>
            </div>

            <div id="ContenantAchat">

                <div class="box-body" style="min-height: 180px;">
                    <label for="Selecteur_Nombre">Nombre</label>
                    {% if objItemShop.getType == 2 %}
                        <select class="select2" disabled="disabled" id="Selecteur_Nombre">
                            <option value="1" selected="selected">{{ objItemShop.getNbItem }} jours</option>
                        </select>
                    {% else %}
                        <select id="Selecteur_Nombre" class="select2" onchange="$('#Prix').html(this.value * {{ objItemShop.getPrix }})">
                            <option value="1" selected="selected">x1</option>
                            <option value="2">x2</option>
                            <option value="5">x5</option>
                            <option value="10">x10</option>
                            <option value="20">x20</option>
                            <option value="50">x50</option>
                        </select>
                    {% endif %}

                    <div class="Rappel_Prix_Unité" style="position: absolute;bottom: 50px;left: 3%; width: 94%;">
                        Total : <span id="Prix">{{ objItemShop.getPrix|number_format }}</span>
                        {% if objItemShop.getType == "3" %}
                            <i style="top: 4px; position: relative;" class="material-icons md-icon-whatshot md-22 text-gray" title=""></i>
                        {% else %}
                            <i style="top: 4px; position: relative;" class="material-icons md-icon-whatshot md-22 text-yellow" title=""></i>
                        {% endif %}
                    </div>

                    <button style="position: absolute;bottom: 10px;left: 3%; width: 94%;" onclick="Valider_Mon_Achat({{ objItemShop.getId }}, $('#Selecteur_Nombre').val())" class="btn btn-primary btn-flat btn-block">
                        Payer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>