<div class="box box-default flat">

    <div class="box-header">
        <h3 class="box-title">Magasin d'items</h3>
    </div>

    <div class="box-body">
        <span class="text-green">Achat terminé avec succée.</span>
        <br/>
        <br/>

        {% if isBonusCompte == "1" %}
            Le bonus à été rajouté à votre compte.
        {% else %}
            {% if nombreBuy >= nombreRequired %}
                {% if nombreBuy > 0 %}
                    {{ nombreBuy }} articles ont été placés dans votre entrepôt item-shop.
                {% else %}
                    {{ nombreBuy }} article a été placé dans votre entrepôt item-shop.
                {% endif %}
            {% else %}
                {{ nombreBuy }} articles seulement ont été placés dans votre entrepôt item-shop car celui-ci ne possédait pas la place nécessaire pour {{ nombreRequired }}.<br/>
                Votre compte à été débité uniquement du prix de ces articles.
            {% endif %}
        {% endif %}

        <br/><br/>

        <span class="text-yellow">Le numéro de transaction est le : {{ idTransaction }}</span><br/>
        Gardez le précieusement, il vous sera utile en cas de réclamation.<br/><br/>
        En cas de problème n'hésitez pas à contacter le support de VamosMt2.<br/>
    </div>

    <div class="box-footer">
        <input type="button" class="btn btn-primary btn-flat" value="Retourner à l'Item-Shop" onclick="Ajax('pages/ItemShop/ItemShop.php');" />
    </div>
</div>

<script type="text/javascript">
    Fonction_Reteneuse_Cash({{ session.get("Cash") }});
    Fonction_Reteneuse_Tananaies({{ session.get("TanaNaies") }});
</script>  

{% if isBonusCompte == "1" %}
    <script type="text/javascript">
        $("#accountBonus").html("{% spaceless %}{{ include('account_bonus.html5.twig')|e('js') }}{% endspaceless   %}");
    </script>  
{% endif %}