<div class="row">
    {% if config.item_shop.rechargement.hipay.activate %}
        <div class="col-lg-7">
            <div class="box box-default flat">

                <div class="box-header">
                    <h3 class="box-title">Recharger par Allopass</h3>
                </div>

                <div class="box-body">

                    Le rechargement par Allopass n'a pas de délais et il est crédité immédiatement quand la paiement est validé par le service.
                    <br/>
                    <br/>
                    <a class="btn btn-primary btn-flat" onclick="Ajax('pages/ItemShop/modules/Hipay/homeHipay.php')">
                        {{ config.item_shop.rechargement.hipay.cash|number_format }} {{ helpDevise(config.item_shop.rechargement.hipay.devise) }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if config.item_shop.rechargement.paypal.activate %}
        <div class="col-lg-5">

            <div class="box box-default flat">

                <div class="box-header">
                    <h3 class="box-title">Recharger par Paypal</h3>
                </div>

                <div class="box-body">

                    Le rechargement par Paypal est plus lent car il est vérifié manuellement par un administrateur.
                    <br/>
                    <br/>
                    Le rechargement sera crédité dans un délais de 24 heures ou moins.
                    <br/>

                    <div class="row">
                        <div class="col-lg-12" style="margin-top: 5px;">
                            <form  target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="{{ config.item_shop.rechargement.paypal.hostedButtonId }}">

                                <input type="hidden" name="on0" value="Choisissez le nombre:">
                                <input type="hidden" name="os0" value="5000 {{ helpDevise(config.item_shop.rechargement.paypal.devise) }}">

                                <input type="hidden" name="on1" value="Identifiant">
                                <input type="hidden" value="{{ loginAccount }}" name="os1" maxlength="200">

                                <input type="hidden" name="currency_code" value="EUR">
                                <input class="btn btn-primary btn-flat" style="width: 100%" type="submit" border="0" value="5 000 {{ helpDevise(config.item_shop.rechargement.paypal.devise) }}  (5€)" name="submit" alt="Payer par Paypal">
                            </form>
                        </div>
                        <div class="col-lg-12" style="margin-top: 5px;">
                            <form  target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="{{ config.item_shop.rechargement.paypal.hostedButtonId }}">

                                <input type="hidden" name="on0" value="Choisissez le nombre:">
                                <input type="hidden" name="os0" value="20000 {{ helpDevise(config.item_shop.rechargement.paypal.devise) }}">

                                <input type="hidden" name="on1" value="Identifiant">
                                <input type="hidden" value="{{ loginAccount }}" name="os1" maxlength="200">

                                <input type="hidden" name="currency_code" value="EUR">
                                <input class="btn btn-primary btn-flat" style="width: 100%" type="submit" border="0" value="20 000 {{ helpDevise(config.item_shop.rechargement.paypal.devise) }} (15€)" name="submit" alt="Payer par Paypal">
                            </form>
                        </div>
                        <div class="col-lg-12" style="margin-top: 5px;">
                            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="{{ config.item_shop.rechargement.paypal.hostedButtonId }}">

                                <input type="hidden" name="on0" value="Choisissez le nombre:">
                                <input type="hidden" name="os0" value="50000 {{ helpDevise(config.item_shop.rechargement.paypal.devise) }}">

                                <input type="hidden" name="on1" value="Identifiant">
                                <input type="hidden" value="{{ loginAccount }}" name="os1" maxlength="200">

                                <input type="hidden" name="currency_code" value="EUR">
                                <input class="btn btn-primary btn-flat" style="width: 100%" type="submit" border="0" value="50 000 {{ helpDevise(config.item_shop.rechargement.paypal.devise) }} (35€)" name="submit" alt="Payer par Paypal">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>