<div class="box box-default flat" style="margin-bottom: 0px;">

    <div class="box-header">
        <h3 class="box-title">Bannissement du compte {{ objAccount.getLogin }}</h3>
    </div>

    <div class="box-body no-padding" style="padding-top: 10px !important;">

        <input type="hidden" id="accountId" value="{{ objAccount.getId }}">

        <div class="clearfix"></div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="banRaison">
                    Raison
                </label>

                <div class="input-group col-xs-12">
                    <select class="select2" id="banRaison">
                        {% if arrBannissementMotifs|length > 0 %}
                            {% for key, motifs in arrBannissementMotifs %}
                                <option value="{{ key }}">{{ motifs }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="banDuree">
                    Durée
                </label>

                <div class="input-group col-xs-12">
                    <select class="select2" id="banDuree">
                        {% if arrBannissementDuree|length > 0 %}
                            {% for key, duree in arrBannissementDuree %}
                                <option value="{{ key }}">{{ duree }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>

        {% if rightBannissementEmail or rightBannissementIp %}
            <div class="col-sm-12" style="margin-bottom: 5px;">
                <div class="row">
                    {% if rightBannissementEmail %}
                        <div class="col-sm-6" style="margin-bottom: 5px;">
                            <input type="checkbox" id="withBanEmail" class="icheck" /> <label for="withBanEmail">Bannir les compte avec l'email <span class="text-orange">{{ objAccount.getEmail }}</span></label>
                        </div>
                    {% endif %}
                    {% if rightBannissementIp %}
                        <div class="col-sm-6" style="margin-bottom: 5px;">
                            <input type="checkbox" id="withBanIp" class="icheck" /> <label for="withBanIp">Bannir les compte avec l'ip <span class="text-orange">{{ objAccount.getIpCreation }}</span></label>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="col-sm-12">
            <div class="form-group ">
                <label for="banCommentaire">
                    Commentaire
                </label>

                <div class="input-group col-xs-12">
                    <textarea id='banCommentaire' class="form-control input-sm" style="resize: none; min-height: 100px"></textarea>
                </div>
            </div>
        </div>

    </div>

    <div class="box-footer">
        <div class="pull-left">
            <input type="button" class="btn btn-danger btn-flat" onclick="$.featherlight.close();" value="Fermer" />
        </div>
        <div class="pull-right">
            <input type="button" class="btn btn-success btn-flat" onclick="BannissementCompte();" value="Bannir" />
        </div>
    </div>

    <script>

        redrawSelect2();
        redrawCheckbox();

        function BannissementCompte() {

            bootbox.dialog({
                message: "Confirmez-vous le bannissement de ce/ces compte(s) ?",
                animate: false,
                className: "myBootBox",
                title: 'Confirmation de l\'action',
                buttons: {
                    danger: {
                        label: "Annuler",
                        className: "btn-danger",
                        callback: function () {

                        }
                    },
                    success: {
                        label: "Confirmer",
                        className: "btn-primary",
                        callback: function () {

                            displayLoadingFeatherlight();

                            $.ajax({
                                type: "POST",
                                url: "pages/Admin/ajax/ajaxBannissementAdd.php",
                                data: {
                                    "accountId": $("#accountId").val(),
                                    "banRaison": $("#banRaison").val(),
                                    "banDuree": $("#banDuree").val(),
                                    "banCommentaire": $("#banCommentaire").val(),
                                    "withBanEmail": $("#withBanEmail").prop("checked"),
                                    "withBanIp": $("#withBanIp").prop("checked")
                                },
                                success: function (msg) {
                                    hideLoadingFeatherlight();
                                    $.featherlight.close();
                                    parent.oTable.fnStandingRedraw();
                                }

                            });

                        }
                    }
                }
            });
        }
    </script>
</div>