<div style="position: relative;">
    <img id="imageMap" src="./images/maps/{{ idMap }}.jpg"  style="width: 100%; height: auto" />

    {% if arrObjPlayers|length > 0 %}
        {% for objPlayers in arrObjPlayers %}
            <div class="pointRadar" data-x="{{ ((objPlayers.x - baseX) / 200 / 0.5) }}" data-y="{{ ((objPlayers.y - baseY) / 200 / 0.5) }}"  data-tooltip="Position {{ ((objPlayers.x - baseX) / 200 / 0.5)|round }} - {{ ((objPlayers.y - baseY) / 200 / 0.5)|round }}" style="position:absolute; top:0px; left:0px;">
                <span class="cursor">
                    <i class="material-icons md-icon-lens text-red" style="font-size: 10px;"></i>
                </span>
            </div>
        {% endfor %}
    {% endif %}
</div>

<script type="text/javascript">

    $(window).resize(function () {
        $(".pointRadar").each(function () {

            var attrX = $(this).attr("data-x");
            var attrY = $(this).attr("data-y");

            var diffX = ($("#imageMap").prop("width") / parseInt('{{ mapX }}'));
            var diffY = ($("#imageMap").prop("height") / parseInt('{{ mapY }}'));

            $(this).css("left", Math.round(attrX * diffX));
            $(this).css("top", Math.round(attrY * diffY));
        });
    });

    $(document).ready(function () {
        $(".pointRadar").each(function () {

            var attrX = $(this).attr("data-x");
            var attrY = $(this).attr("data-y");
            
            var diffX = ($("#imageMap").prop("width") / parseInt('{{ mapX }}'));
            var diffY = ($("#imageMap").prop("height") / parseInt('{{ mapY }}'));

            $(this).css("left", Math.round(attrX * diffX));
            $(this).css("top", Math.round(attrY * diffY));
        });
    });

</script>
