Bienvenue {{ account }}.
<br/>
<br/>
Afin de pouvoir jouer, une activation est requise en cliquant sur le lien ci-dessous:<br/>
<a href="{{ config.baseURL }}Activation.php?id={{ accountId|e }}">Activer mon compte</a>
<br/>
<br/>
Si votre navigateur ne supporte pas les liens, copiez-collez le lien ci-dessous<br/>
{{ config.baseURL }}Activation.php?id={{ accountId|e }}
<br/>
<br/>
Contactez le support en cas de problème.
<br/>
<br/>
Bon jeu sur VamosMT2 ! =)