<div class="box box-default flat" style="margin-bottom: 0px;">

    <div class="box-header">
        {% if objAdmins.getId > 0 %}
            <h3 class="box-title">Modification d'un membre du site</h3>
        {% else %}
            <h3 class="box-title">Ajout d'un membre du site</h3>
        {% endif %}
    </div>

    <input type="hidden" id="idAdmins" value="{{ objAdmins.getId }}">

    <div class="box-body no-padding" style="padding-top: 10px !important;">

        <div class="row" style="margin-right: 0px;">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label for="accountId">
                            Compte
                        </label>

                        <div class="input-group col-xs-12">
                            <select name="accountId" id="accountId">
                                {% if objAccount != null %}
                                    <option value="{{ objAccount.getId }}" selected="selected">{{ objAccount.getLogin }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group ">
                        <label for="adminName">
                            Nom publique
                        </label>

                        <div class="input-group col-xs-12">
                            <input type="text" id="adminName" class="form-control input-sm text" value="{{ objAdmins.getName }}" required >
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-sm-4">

                    <div class="box box-default flat">

                        <div class="box-header">
                            Recherches
                        </div>
                        <div class="box-body no-padding" style="padding-top: 8px !important padding-bottom: 8px !important;">
                            <div style="padding: 8px 8px 4px 8px">
                                <input type="checkbox" id="droitSite_2" {% if 2 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_2">{{ helpDroit(2) }}</label>
                            </div>
                            <div style="padding: 4px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_4" {% if 4 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_4">{{ helpDroit(4) }}</label>
                            </div>
                            <div style="padding: 4px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_5" {% if 5 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_5">{{ helpDroit(5) }}</label>
                            </div>
                            <div style="padding: 4px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_6" {% if 6 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_6">{{ helpDroit(6) }}</label>
                            </div>
                            <div style="padding: 4px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_7" {% if 7 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_7">{{ helpDroit(7) }}</label>
                            </div>
                            <div style="padding: 4px 8px 8px 8px;">
                                <input type="checkbox" id="droitSite_11" {% if 11 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_11">{{ helpDroit(11) }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="box box-default flat">

                        <div class="box-header">
                            Sanctions
                        </div>
                        <div class="box-body no-padding" style="padding-top: 8px !important padding-bottom: 8px !important;">
                            <div style="padding: 8px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_15" {% if 15 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_15">{{ helpDroit(15) }}</label>
                            </div>
                            <div style="padding: 4px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_16" {% if 16 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_16">{{ helpDroit(16) }}</label>
                            </div>
                            <div style="padding: 4px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_18" {% if 18 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_18">{{ helpDroit(18) }}</label>
                            </div>
                            <div style="padding: 4px 8px 8px 8px;">
                                <input type="checkbox" id="droitSite_17" {% if 17 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_17">{{ helpDroit(17) }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="box box-default flat">

                        <div class="box-header">
                            Gestion
                        </div>
                        <div class="box-body no-padding" style="padding-top: 8px !important padding-bottom: 8px !important;">
                            <div style="padding: 8px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_21" {% if 21 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_21">{{ helpDroit(21) }}</label>
                            </div>
                            <div style="padding: 4px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_22" {% if 22 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_22">{{ helpDroit(22) }}</label>
                            </div>
                            <div style="padding: 4px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_23" {% if 23 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_23">{{ helpDroit(23) }}</label>
                            </div>
                            <div style="padding: 4px 8px 8px 8px;">
                                <input type="checkbox" id="droitSite_30" {% if 30 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_30">{{ helpDroit(30) }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-sm-4">

                    <div class="box box-default flat">

                        <div class="box-header">
                            Item-shop
                        </div>
                        <div class="box-body no-padding" style="padding-top: 8px !important padding-bottom: 8px !important;">
                            <div style="padding: 8px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_27" {% if 27 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_27">{{ helpDroit(27) }}</label>
                            </div>
                            <div style="padding: 4px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_28" {% if 28 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_28">{{ helpDroit(28) }}</label>
                            </div>
                            <div style="padding: 4px 8px 8px 8px;">
                                <input type="checkbox" id="droitSite_29" {% if 29 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_29">{{ helpDroit(29) }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                            
                <div class="col-sm-4">
                    <div class="box box-default flat">

                        <div class="box-header">
                            Fonctionnalités
                        </div>
                        <div class="box-body no-padding" style="padding-top: 8px !important padding-bottom: 8px !important;">
                            <div style="padding: 8px 8px 4px 8px;">
                                <input type="checkbox" id="droitSite_25" {% if 25 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_25">{{ helpDroit(25) }}</label>
                            </div>
                            <div style="padding: 4px 8px 8px 8px;">
                                <input type="checkbox" id="droitSite_1" {% if 1 in arrDroits %}checked{% endif %} class="icheck" /> <label for="droitSite_1">{{ helpDroit(1) }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="box-footer">
        <div class="pull-left">
            <input type="button" class="btn btn-danger btn-flat" onclick="$.featherlight.close();" value="Fermer" />
        </div>
        <div class="pull-right">
            <input type="button" class="btn btn-success btn-flat" onclick="EnregistrementMembreEquipeSite();" value="Enregistrer" />
        </div>
    </div>

    <script>

        redrawSelect2();
        redrawCheckbox();

        $("#accountId").select2({
            allowClear: true,
            placeholder: {
                id: "",
                text: "-"
            },
            ajax: {
                url: "core/class/SearchAccountByLogin.php",
                dataType: 'json',
                delay: 400,
                data: function (params) {
                    return {
                        term: params.term
                    };
                },
                processResults: function (data, page) {
                    var results = [];
                    $.each(data, function (index, item) {
                        results.push({
                            id: item.ID,
                            text: item.label
                        });
                    });
                    return {
                        results: results
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            minimumInputLength: 2
        });

        function EnregistrementMembreEquipeSite() {

            var arrayParametre = new Object();

            $("input[type=checkbox]").each(function () {

                if ($(this).prop("id").substring(0, 9) === "droitSite") {

                    var idParam = $(this).prop("id").substring(10);

                    if ($(this).is(':checked')) {
                        valueParam = true;
                    } else {
                        valueParam = false;
                    }
                }

                arrayParametre[idParam] = valueParam;
            });

            arrJson = JSON.stringify(arrayParametre);

            displayLoading();

            $.ajax({
                type: "POST",
                url: "pages/Admin/modules/GererEquipeSite/ajax/ajaxGererEquipeSiteEditSave.php",
                data: {
                    "idAdmins": $("#idAdmins").val(),
                    "idCompte": $("#accountId").val(),
                    "adminName": $("#adminName").val(),
                    "arrDroits": arrJson
                },
                success: function (msg) {
                    hideLoading();
                    $.featherlight.close();
                    parent.oTable.fnStandingRedraw();
                }

            });
        }
    </script>
</div>