<script type="text/javascript">var Clique_Code_Effacement = 0;</script>

<div class="tab-pane active" id="Onglet_InformationGeneral">

    <div class="col-lg-9 specialColumn" style="padding-left: 0px; padding-right: 0px;">

        <table class="table table-condensed table-hover" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Personnage</th>
                    <th width="40">Niveau</th>
                    <th width="142">Expérience</th>
                </tr>

            </thead>

            <tbody>

                {% if arrObjPlayers|length > 0 %}

                    {% for objPlayer in arrObjPlayers %}

                        <tr onclick="Ajax('pages/MonPersonnage/MonPersonnage.php?id={{ encryptForUrl(objPlayer.getId) }}');" class="pointer">

                            <td>
                                {{ findIconJob(objPlayer.job)|raw }}
                                {{ objPlayer.getName }}
                            </td>
                            <td style="text-align: center;">{{ objPlayer.getLevel }}</td>
                            <td style="padding: 0px;">{{ include('experience_bubles.html5.twig', {'myScale': '0.25'}) }}</td>
                        </tr>

                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="8">
                            Aucuns personnages.
                        </td>
                    </tr>
                {% endif %}
            </tbody>

        </table>
            
        <div style="padding-left: 15px; padding-right: 15px;">

            <div class="row" style="margin-bottom: 5px;">
                <div class="col-lg-12" style="font-size: 18px;">
                    {{ findIconEmpire(objPlayerIndex.empire)|raw }} 
                    <span style="position: relative; top:-4px;">
                        Empire {{ helpEmpire(objPlayerIndex.empire) }}
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6" style="margin-bottom: 5px;">
                    <button class="btn btn-primary btn-flat btn-sm" style="width: 100%; margin-bottom: 5px;" onclick="Ajax('pages/MonCompte/modules/PasswordChangeForm.php');">
                        Modifier mot de passe
                    </button>

                    <button class="btn btn-primary btn-flat btn-sm" style="width: 100%;" onclick="Ajax('pages/MonCompte/modules/EmailChangeForm.php');">
                        Modifier adresse e-mail
                    </button>
                </div>

                <div class="col-lg-6" style="margin-bottom: 5px;">
                    {% if objAccount.getCodeEffacement == "" %}
                        <button class="btn btn-success btn-flat btn-sm" style="width: 100%;" onclick="Ajax('pages/MonCompte/modules/CodeEffacementCreateForm.php');">
                            Créer code de sureté
                        </button>
                    {% else %}
                        <button class="btn bg-purple btn-flat btn-sm" style="width: 100%;" onclick="Ajax('pages/MonCompte/modules/CodeEffacementChangeForm.php');">
                            Modifier code de sureté
                        </button>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>


    <div class="col-lg-3 specialColumn">
        <h4>Entrepot
            <span class="pull-right" style="position: relative; top:2px;">
                {% if objSafebox.size == "" %}
                    <i data-tooltip="L'entrepôt n'éxiste pas encore" class="Pointer material-icons md-icon-close text-red md-20"></i>
                {% else %}
                    <i data-tooltip="Récupérer le code" onclick="Ajax('pages/MonCompte/modules/CodeEntrepotForgottenEmail.php');" class="Pointer material-icons md-icon-settings_backup_restore text-blue md-20"></i>
                    <i data-tooltip="Modifier le code" onclick="Ajax('pages/MonCompte/modules/CodeEntrepotChangeForm.php');" class="Pointer material-icons md-icon-edit text-yellow md-20"></i>
                {% endif %}
            </span>
        </h4>
        {{ viewEntrepot|raw }}
    </div>

</div>