<script type="text/javascript">var Clique_Code_Effacement = 0;</script>

<div class="tab-pane active" id="Onglet_InformationGeneral">

    <div class="col-lg-6 specialColumn" style="padding-left: 0px; padding-right: 0px;">

        <table class="table table-condensed table-hover" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Personnage</th>
                    <th width="40">Niveau</th>
                    <th width="142">Expérience</th>
                </tr>

            </thead>

            <tbody>

                {% if arrObjPlayers|length > 0 %}

                    {% for objPlayer in arrObjPlayers %}

                        <tr onclick="Ajax('pages/MonPersonnage/MonPersonnage.php?id={{ encryptForUrl(objPlayer.getId) }}');" class="pointer">

                            <td>
                                {{ findIconJob(objPlayer.job)|raw }}
                                {{ objPlayer.getName }}
                            </td>
                            <td style="text-align: center;">{{ objPlayer.getLevel }}</td>
                            <td style="padding: 0px;">{{ include('experience_bubles.html5.twig', {'myScale': '0.25'}) }}</td>
                        </tr>

                    {% endfor %}

                {% else %}
                    <tr>
                        <td colspan="8">
                            Aucuns personnages.
                        </td>
                    </tr>
                {% endif %}
            </tbody>

        </table>

        {% if date(objAccount.getAutolootExpire()) > date() %}
            <div class="col-lg-12" style="margin-top: 10px;">
                <img src='../images/Bonus/4.png' width='53' />
                <span id="Compteloot" style="position: relative; left:12px;"></span>
            </div>                 
            <script>
                $('#Compteloot').countdown('{{ getFormatedDateTime(objAccount.getAutolootExpire, "Y/m/d H:i:s") }}', function (event) {
                    $(this).html(event.strftime('%-m mois / %-D %!d:jour,jours; %-H:%M:%S'));
                });
            </script>
        {% endif %}

        {% if date(objAccount.getGoldExpire()) > date() %}
            <div class="col-lg-12" style="margin-top: 10px;">
                <img src='../images/Bonus/1.png' width='53' />
                <span id="Comptegold" style="position: relative; left:12px;"></span>
            </div>
            <script>
                $('#Comptegold').countdown('{{ getFormatedDateTime(objAccount.getGoldExpire, "Y/m/d H:i:s") }}', function (event) {
                    $(this).html(event.strftime('%-m mois / %-D %!d:jour,jours; %-H:%M:%S'));
                });
            </script>
        {% endif %}

        {% if date(objAccount.getSilverExpire()) > date() %}
            <div class="col-lg-12" style="margin-top: 10px;">
                <img src='../images/Bonus/2.png' width='53' />
                <span id="Comptesilver" style="position: relative; left:12px;"></span>
            </div>                
            <script>
                $('#Comptesilver').countdown('{{ getFormatedDateTime(objAccount.getSilverExpire, "Y/m/d H:i:s") }}', function (event) {
                    $(this).html(event.strftime('%-m mois / %-D %!d:jour,jours; %-H:%M:%S'));
                });
            </script>
        {% endif %}

        {% if date(objAccount.getMarriageFastExpire()) > date() %}
            <div class="col-lg-12" style="margin-top: 10px;">
                <img src='../images/Bonus/6.png' width='53' />
                <span id="Comptelove" style="position: relative; left:12px;"></span>
            </div>                 
            <script>
                $('#Comptelove').countdown('{{ getFormatedDateTime(objAccount.getMarriageFastExpire, "Y/m/d H:i:s") }}', function (event) {
                    $(this).html(event.strftime('%-m mois / %-D %!d:jour,jours; %-H:%M:%S'));
                });
            </script>
        {% endif %}

        {% if date(objAccount.getSafeboxExpire()) > date() %}
            <div class="col-lg-12" style="margin-top: 10px;">
                <img src='../images/Bonus/3.png' width='53' />
                <span id="Comptesafebox" style="position: relative; left:12px;"></span>
            </div>                 
            <script>
                $('#Comptesafebox').countdown('{{ getFormatedDateTime(objAccount.getSafeboxExpire, "Y/m/d H:i:s") }}', function (event) {
                    $(this).html(event.strftime('%-m mois / %-D %!d:jour,jours; %-H:%M:%S'));
                });
            </script>
        {% endif %}

        {% if date(objAccount.getMoneyDropRateExpire()) > date() %}
            <div class="col-lg-12" style="margin-top: 10px;">
                <img src='../images/Bonus/7.png' width='53' />
                <span id="Comptemonnaie" style="position: relative; left:12px;"></span>
            </div>                 
            <script>
                $('#Comptemonnaie').countdown('{{ getFormatedDateTime(objAccount.getMoneyDropRateExpire, "Y/m/d H:i:s") }}', function (event) {
                    $(this).html(event.strftime('%-m mois / %-D %!d:jour,jours; %-H:%M:%S'));
                });
            </script>
        {% endif %}

        {% if date(objAccount.getFishMindExpire()) > date() %}
            <div class="col-lg-12" style="margin-top: 10px;">
                <img src='../images/Bonus/5.png' width='53' />
                <span id="Comptepeche" style="position: relative; left:12px;"></span>
            </div>                 
            <script>
                $('#Comptepeche').countdown('{{ getFormatedDateTime(objAccount.getFishMindExpire, "Y/m/d H:i:s") }}', function (event) {
                    $(this).html(event.strftime('%-m mois / %-D %!d:jour,jours; %-H:%M:%S'));
                });
            </script>
        {% endif %}
    </div>

    <div class="col-lg-3" style="padding-left: 10px; padding-right: 10px;">

        <h4>Compte
            <span style="font-size: 14px; top: 3px; position: relative;" class="pull-right">Crée le {{ getFormatedDateTime(objAccount.getCreateTime, "d/m/Y") }}</span>
        </h4>

        <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-12">
                {{ findIconEmpire(objPlayerIndex.empire)|raw }} 
                <span style="position: relative; top:-5px;">
                    Empire {{ helpEmpire(objPlayerIndex.empire) }}
                </span>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 2px;">
                <button class="btn btn-primary btn-flat btn-sm" style="width: 100%;" onclick="Ajax('pages/MonCompte/modules/PasswordChangeForm.php');">
                    Modifier mot de passe
                </button>
            </div>
            <div class="col-lg-12" style="margin-bottom: 5px;">

                <button class="btn btn-primary btn-flat btn-sm" style="width: 100%;" onclick="Ajax('pages/MonCompte/modules/EmailChangeForm.php');">
                    Modifier adresse e-mail
                </button>
            </div>

            <div class="col-lg-12" style="margin-top: 5px;">
                {% if objAccount.getCodeEffacement == "" %}
                    <button class="btn btn-success btn-flat btn-sm" style="width: 100%;" onclick="Ajax('pages/MonCompte/modules/CodeEffacementCreateForm.php');">
                        Créer code de sureté
                    </button>
                {% else %}
                    <button class="btn bg-purple btn-flat btn-sm" style="width: 100%;" onclick="Ajax('pages/MonCompte/modules/CodeEffacementChangeForm.php');">
                        Modifier code de sureté
                    </button>
                {% endif %}

            </div>
        </div>

    </div>

    <div class="col-lg-3 specialColumn">
        <h4>Entrepot
            <span class="pull-right" style="position: relative; top:2px;">
                {% if objSafebox.size == "" %}
                    <i data-tooltip="L'entrepôt n'éxiste pas encore" class="Pointer material-icons md-icon-close text-red md-20"></i>
                {% else %}
                    <i data-tooltip="Récupérer le code" onclick="Ajax('pages/MonCompte/modules/CodeEntrepotForgottenEmail.php');" class="Pointer material-icons md-icon-settings_backup_restore text-blue md-20"></i>
                    <i data-tooltip="Modifier le code" onclick="Ajax('pages/MonCompte/modules/CodeEntrepotChangeForm.php');" class="Pointer material-icons md-icon-edit text-yellow md-20"></i>
                {% endif %}
            </span>
        </h4>
        {{ viewEntrepot|raw }}
    </div>

</div>