<div class="col-md-7 col-sm-7 col-xs-7">

    <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-5" style="padding-left: 40px;">
            {{ 'home.welcome'|trans({}, 'common') }} <span onclick="Ajax('pages/MonCompte/modules/HistoryConnexion.php')" data-tooltip="Historique des connexions" class="Bold Pointer">{{ session.get("Utilisateur") }}</span>
        </div>

        <div style="position: relative; left:-4px; top: 1px;"  class="col-lg-5 col-md-6 col-sm-6">
            <span data-tooltip="VamoNaies">
                <i style="top: 7px; position: relative;" class="material-icons md-icon-whatshot md-24 text-yellow"></i>
                <div style="font-size: 14px;" class="inline" id="Nombre_De_Vamonaies">{{ session.get("VamoNaies")|number_format }} </div>
            </span>

            <span data-tooltip="TanaNaies">
                <i style="top: 7px; position: relative; margin-left: 10px;" class="material-icons md-icon-whatshot md-24 text-gray"></i>
                <div style="font-size: 14px;" class="inline" id="Nombre_De_Tananaies">{{ session.get("TanaNaies")|number_format }}</div>
            </span>

            {% if countBonusOnAccount(objAccount) > 0 %}

                <div class="dropdown" style="display: inline;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="position: relative; top:7px; left: 5px;">
                        <i class="material-icons md-icon-star-border text-yellow md-24"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <div style="width: 210px; padding: 10px;">

                            {% if date(objAccount.getAutolootExpire()) > date() %}
                                <div>
                                    <img src='../images/Bonus/4.png' width='53' />
                                    <span id="Compteloot" style="position: relative; left:12px;"></span>
                                    {% if date(objAccount.getAutolootExpire()) > date()|date_modify("+1 year") %}
                                        <span style="position: relative; left:12px;">A vie</span>
                                    {% else %}                
                                        <script>
                                            $('#Compteloot').countdown('{{ getFormatedDateTime(objAccount.getAutolootExpire, "Y/m/d H:i:s") }}', function (event) {
                                                $(this).html(event.strftime('%-D %!d:jour,jours; %-H:%M:%S'));
                                            });
                                        </script>
                                    </div>  
                                {% endif %}
                            {% endif %}

                            {% if date(objAccount.getGoldExpire()) > date() %}
                                <div>
                                    <img src='../images/Bonus/1.png' width='53' />
                                    <span id="Comptegold" style="position: relative; left:12px;"></span>
                                    {% if date(objAccount.getGoldExpire()) > date()|date_modify("+1 year") %}
                                        <span style="position: relative; left:12px;">A vie</span>
                                    {% else %}  
                                        <script>
                                            $('#Comptegold').countdown('{{ getFormatedDateTime(objAccount.getGoldExpire, "Y/m/d H:i:s") }}', function (event) {
                                                $(this).html(event.strftime('%-D %!d:jour,jours; %-H:%M:%S'));
                                            });
                                        </script>
                                    </div>  
                                {% endif %}
                            {% endif %}

                            {% if date(objAccount.getSilverExpire()) > date() %}
                                <div>
                                    <img src='../images/Bonus/2.png' width='53' />
                                    <span id="Comptesilver" style="position: relative; left:12px;"></span>
                                    {% if date(objAccount.getSilverExpire()) > date()|date_modify("+1 year") %}
                                        <span style="position: relative; left:12px;">A vie</span>
                                    {% else %} 
                                        <script>
                                            $('#Comptesilver').countdown('{{ getFormatedDateTime(objAccount.getSilverExpire, "Y/m/d H:i:s") }}', function (event) {
                                                $(this).html(event.strftime('%-D %!d:jour,jours; %-H:%M:%S'));
                                            });
                                        </script>
                                    </div>  
                                {% endif %}
                            {% endif %}

                            {% if date(objAccount.getMarriageFastExpire()) > date() %}
                                <div>
                                    <img src='../images/Bonus/6.png' width='53' />
                                    <span id="Comptelove" style="position: relative; left:12px;"></span>
                                    {% if date(objAccount.getMarriageFastExpire()) > date()|date_modify("+1 year") %}
                                        <span style="position: relative; left:12px;">A vie</span>
                                    {% else %} 
                                        <script>
                                            $('#Comptelove').countdown('{{ getFormatedDateTime(objAccount.getMarriageFastExpire, "Y/m/d H:i:s") }}', function (event) {
                                                $(this).html(event.strftime('%-D %!d:jour,jours; %-H:%M:%S'));
                                            });
                                        </script>
                                    </div>  
                                {% endif %}
                            {% endif %}

                            {% if date(objAccount.getSafeboxExpire()) > date() %}
                                <div>
                                    <img src='../images/Bonus/3.png' width='53' />
                                    <span id="Comptesafebox" style="position: relative; left:12px;"></span>
                                    {% if date(objAccount.getSafeboxExpire()) > date()|date_modify("+1 year") %}
                                        <span style="position: relative; left:12px;">A vie</span>
                                    {% else %} 
                                        <script>
                                            $('#Comptesafebox').countdown('{{ getFormatedDateTime(objAccount.getSafeboxExpire, "Y/m/d H:i:s") }}', function (event) {
                                                $(this).html(event.strftime('%-D %!d:jour,jours; %-H:%M:%S'));
                                            });
                                        </script>
                                    </div>  
                                {% endif %}
                            {% endif %}

                            {% if date(objAccount.getMoneyDropRateExpire()) > date() %}
                                <div>
                                    <img src='../images/Bonus/7.png' width='53' />
                                    <span id="Comptemonnaie" style="position: relative; left:12px;"></span>

                                    {% if date(objAccount.getMoneyDropRateExpire()) > date()|date_modify("+1 year") %}
                                        <span style="position: relative; left:12px;">A vie</span>
                                    {% else %} 
                                        <script>
                                            $('#Comptemonnaie').countdown('{{ getFormatedDateTime(objAccount.getMoneyDropRateExpire, "Y/m/d H:i:s") }}', function (event) {
                                                $(this).html(event.strftime('%-D %!d:jour,jours; %-H:%M:%S'));
                                            });
                                        </script>
                                    </div>  
                                {% endif %}
                            {% endif %}

                            {% if date(objAccount.getFishMindExpire()) > date() %}
                                <div>
                                    <img src='../images/Bonus/5.png' width='53' />
                                    <span id="Comptepeche" style="position: relative; left:12px;"></span>
                                    {% if date(objAccount.getFishMindExpire()) > date()|date_modify("+1 year") %}
                                        <span style="position: relative; left:12px;">A vie</span>
                                    {% else %} 
                                        <script>
                                            $('#Comptepeche').countdown('{{ getFormatedDateTime(objAccount.getFishMindExpire, "Y/m/d H:i:s") }}', function (event) {
                                                $(this).html(event.strftime('%-D %!d:jour,jours; %-H:%M:%S'));
                                            });
                                        </script>
                                    </div>  
                                {% endif %}
                            {% endif %}
                        </div>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="" style="margin-right: 10px;">

    <div class="pull-right">

        <span class="iconStatutServer visible-xs-inline visible-sm-inline" style="top: 7px; position: relative; margin-left: 7px;"></span>

        <span id='Messagerie_Notification'><i data-tooltip="Aucun nouveau message" data-tooltip-position="left" style="cursor:pointer; top: 7px; position: relative; margin-left: 7px;" class="material-icons md-icon-spin fa fa-spin md-24" title=""></i></span>

        <i data-tooltip="Activer/Désactiver le son" data-tooltip-position='left' style="top: 7px; position: relative; margin-left: 7px;" id="Icone_Sons" class="" onclick="SoundNotificationToggle(0)"></i>
        <script type="text/javascript">
            SoundNotificationToggle(1);
            setTimeout("Actualisation_Messages()", 20000);
        </script>


        <a data-tooltip="Déconnexion" data-tooltip-position='left' class="pull-right" style="cursor: pointer; margin-left: 7px;" onclick="Ajax_Connexion('pages/_Home/includes/headbarDisconnect.php')">
            <i style="top: 7px; position: relative;" class="material-icons md-icon-power md-24 text-red"></i>
        </a>
    </div>
</div>