<nav id="mainnav">
    <ul class="sidebar-menu">
        
        <li class="pointer"><a onclick="Ajax('pages/_LegacyPages/News.php')">{{ 'item.home'|trans({}, 'menu') }}</a></li>
        <li class="pointer"><a onclick="Ajax('pages/_LegacyPages/Presentation.php')">{{ 'item.presentation'|trans({}, 'menu') }}</a></li>

        {% if isConnected == false %}
            <li id="Menu_Inscription_MonCompte2" class="pointer"><a onclick="Ajax('pages/Inscription/InscriptionForm.php')">{{ 'item.register'|trans({}, 'menu') }}</a></li>
            <li id="Menu_Inscription_MonCompte" class="pointer" style="display: none;"><a id="Lien_Mon_Compte" onclick="">{{ 'item.account'|trans({}, 'menu') }}</a></li>
        {% else %}
            <li id="Menu_Inscription_MonCompte" class="pointer"><a id="Lien_Mon_Compte" onclick="Ajax('pages/MonCompte/modules/MonCompte.php')">{{ 'item.account'|trans({}, 'menu') }}</a></li>
            <li id="Menu_Inscription_MonCompte2" class="pointer" style="display: none;"><a onclick="Ajax('pages/Inscription/InscriptionForm.php')">{{ 'item.register'|trans({}, 'menu') }}</a></li>
        {% endif %}

        <li class="treeview">
            <a href="#">
                <span>{{ 'item.rank'|trans({}, 'menu') }}</span>
                <i class="material-icons md-icon-arrow-down pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a class="pointer" onclick="Ajax('pages/Classements/ClassementJoueursPvE.php')">{{ 'item.rankPlayerPVE'|trans({}, 'menu') }}</a>
                    <a class="pointer" onclick="Ajax('pages/Classements/ClassementJoueursPvP.php')">{{ 'item.rankPlayerPVP'|trans({}, 'menu') }}</a>
                    <a class="pointer" onclick="Ajax('pages/Classements/ClassementGuildes.php')">{{ 'item.rankGuildes'|trans({}, 'menu') }}</a>
                </li>
            </ul>
        </li>

        {% if isConnected == false %}
            <li id="Menu_Telechargement_ItemShop2" class="pointer" style="display: inline;"><a onclick="Ajax('pages/_LegacyPages/Telechargement.php')">{{ 'item.download'|trans({}, 'menu') }}</a></li>
            <li id="Menu_Telechargement_ItemShop" class="pointer" style="display: none;"><a id="Lien_Item_Shop" onclick="" >{{ 'item.itemshop'|trans({}, 'menu') }}</a></li>
        {% else %}
            <li id="Menu_Telechargement_ItemShop" class="pointer" style="display: inline;"><a id="Lien_Item_Shop" onclick="Ajax('pages/ItemShop/ItemShop.php')">{{ 'item.itemshop'|trans({}, 'menu') }}</a></li>
            <li id="Menu_Telechargement_ItemShop2" class="pointer"><a onclick="Ajax('pages/_LegacyPages/Telechargement.php')">{{ 'item.download'|trans({}, 'menu') }}</a></li>
        {% endif %}

            <li class="pointer"><a onclick="Ajax('pages/_LegacyPages/Calendrier.php')">{{ 'item.calendar'|trans({}, 'menu') }}</a></li>

        {% if isConnected == false %}
            <li id="Menu_Telechargement_Equipe" class="pointer" style="display: none;"><a id="Lien_Marche" onclick="" >{{ 'item.marche'|trans({}, 'menu') }}</a></li>
        {% else %}
            <li id="Menu_Telechargement_Equipe" class="pointer" style="display: inline;"><a id="Lien_Marche" onclick="Ajax('pages/Marche/Marche.php')">{{ 'item.marche'|trans({}, 'menu') }}</a></li>
        {% endif %}

        <li><a onclick="window.open('http://forum.vamosmt2.org/forum/')">{{ 'item.forum'|trans({}, 'menu') }}</a></li>

        {% if isConnected == false %}
            <li id="Menu_Support2" class="pointer"><a onclick="Ajax('pages/_LegacyPages/Contacts.php')">{{ 'item.support'|trans({}, 'menu') }}</a></li>
            <li id="Menu_Support" class="pointer" style="display: none;"><a id="Lien_Support" onclick="">{{ 'item.support'|trans({}, 'menu') }}</a></li>
        {% else %}
            <li id="Menu_Support" class="pointer"><a id="Lien_Support" onclick="Ajax('pages/Messagerie/Messagerie.php')">{{ 'item.support'|trans({}, 'menu') }}</a></li>
            <li id="Menu_Support2" class="pointer" style="display: none;"><a onclick="Ajax('pages/_LegacyPages/Contacts.php');">{{ 'item.support'|trans({}, 'menu') }}</a></li>
        {% endif %}
    </ul>
</nav>