<div class="direct-chat-msg" id="Message_{{ objSupportMessage.id }}" style="margin-bottom: 18px;">

    <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">{{ pseudonyme }}</span>
    </div>

    <i class="material-icons md-icon-person md-36 pull-left"></i>
    <div class="direct-chat-text bg-blue" style="width: 75%; padding-right: 52px; margin: 5px 0 0 40px;">
        <span class="direct-chat-timestamp pull-right" style="color: #D4D4D4; position: absolute; right: 10px;">
            
            {{ getFormatedDateTime(objSupportMessage.date, "H:i") }}
            
            {% if objSupportMessage.etat %}
                <div class="dateEtatChange" style="display: inline;">
                    <i style="float: right; margin-left: 5px;" data-tooltip="Vu {{ getFormatedDateTime(objSupportMessage.dateChangementEtat) }}" class="material-icons md-icon-done text-green"></i>
                </div>
            {% else %}
                <div class="dateEtatChange NonLu" style="display: inline;">
                </div>
            {% endif %}
        </span>
        {{ objSupportMessage.message|nl2br }}
    </div>
</div>