{% if objSupportDiscussion != null %}

    <script type="text/javascript" src="assets/js/jquery.inview/jquery.inview.min.js"></script>

    <div class="row">
        <div class="col-lg-3">

            <table class="table table-condensed" style="margin-bottom: 0px; border-collapse: collapse;">
                <tr>
                    <td style="border-top: 0px;">Gérant</td>
                    <td style="border-top: 0px;">{{ objAccountAdmin.getPseudoMessagerie }}</td>
                </tr>
                <tr>
                    <td>Début</td> 
                    <td>{{ getFormatedDateTime(objSupportDiscussion.getDate) }}</td> 
                </tr>
                <tr>
                    <td>Message</td> 
                    <td id="Nombre_De_Message">{{ (arrObjSupportMessages|length +1) }}</td>
                </tr>
                <tr>
                    <td>Objet</td>
                    <td>{{ objSupportObjet.getObjet }}</td>
                </tr>
            </table>

            {% if isAdmin %}
                <div style="padding-top: 10px; padding-left: 10px;">
                    <a href="pages/Messagerie/DiscussionTransfert.php?idDiscussion={{ encryptForUrl(objSupportDiscussion.getId) }}" class="btn btn-sm btn-flat btn-warning" data-featherlight="ajax" style="width: 100%">Transférer</a>
                </div>
            {% endif %}
            {% if objSupportDiscussion.getEstArchive != true %}
                <div style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px;">
                    <button type="button" class="btn btn-sm btn-flat btn-danger" style="width: 100%" onclick="DiscussionArchivage('{{ encrypt(objSupportDiscussion.getId) }}', 0);">
                        Clôturer
                    </button>
                </div>
            {% endif %}

        </div>
        <div class="col-lg-9">
            <div class="box box-warning direct-chat direct-chat-danger" style="margin-bottom: 0px; border-top: 0px; border-bottom: 0px; border-collapse: collapse;">

                <div class="box-body" style="min-height: 400px;">
                    <div class="direct-chat-messages" id="Cadre_Fil_Discussion" style="min-height: 400px;">

                        {% set jourInitial = objSupportDiscussion.getDate|date("d/m/Y", false) %}

                        <div style="text-align: center;">{{ jourInitial }}</div>

                        {% if objAccount.getId == currentAccount.getId %}
                            <div class="direct-chat-msg right"style="margin-bottom: 18px;">
                                <div class="direct-chat-text" style="width: 75%; padding-right: 52px; background-color: #656565 !important; margin-right: 0px;float: right;">
                                    <span class="direct-chat-timestamp pull-left" style="color: #D4D4D4; position: absolute; right: 10px;">
                                        {{ getFormatedDateTime(objSupportDiscussion.getDate, "H:i") }}
                                    </span>
                                    {{ objSupportDiscussion.getMessage|nl2br }}
                                </div>
                            </div>
                        {% else %}
                            <div class="direct-chat-msg"style="margin-bottom: 18px;">
                                <div class="direct-chat-info clearfix">
                                    {% if objAccount.getId == currentAccount.getId %}
                                        <span class="direct-chat-name pull-left">{{ objAccountAdmin.getPseudoMessagerie }}</span>
                                    {% else %}
                                        <span class="direct-chat-name pull-left">{{ objAccount.getLogin }}</span>
                                    {% endif %}
                                </div>
                                <i class="material-icons md-icon-person md-36 pull-left"></i>
                                <div class="direct-chat-text bg-blue" style="width: 75%; padding-right: 52px; margin: 5px 0 0 40px;">
                                    <span class="direct-chat-timestamp pull-right" style="color: #D4D4D4;">
                                        {{ getFormatedDateTime(objSupportDiscussion.getDate, "H:i:s") }}
                                    </span>
                                    {{ objSupportDiscussion.getMessage|nl2br }}
                                </div>
                            </div>
                        {% endif %}

                        {% for objSupportMessages in arrObjSupportMessages %}

                            {% set jourMessage = objSupportMessages.date|date("d/m/Y", false) %}
                            {% if jourMessage == jourInitial %}
                            {% else %}
                                <div style="text-align: center;">{{ jourMessage }}</div>
                                {% set jourInitial = jourMessage %}
                            {% endif %}

                            {% if objSupportMessages.idCompte == 0 %}
                                <div style="text-align: center; margin-bottom: 10px;" >{{ objSupportMessages.message }}</div>
                            {% else %}

                                {% if objSupportMessages.idCompte != objSupportDiscussion.getIdCompte %}
                                    {% if objSupportDiscussion.getIdCompte != currentAccount.getId %}
                                        {% if objSupportMessages.idCompte != objSupportDiscussion.getIdCompte %}
                                            {% set pseudonymeMessage = objSupportMessages.pseudoMessagerie %}
                                        {% else %}
                                            {% set pseudonymeMessage = objSupportMessages.login %}
                                        {% endif %}
                                        {{ include('messageViewRight.html5.twig', {'objSupportMessage': objSupportMessages, 'pseudonyme': pseudonymeMessage}, with_context = false) }}
                                    {% else %}
                                        {% if objSupportMessages.idCompte != objSupportDiscussion.getIdCompte %}
                                            {% set pseudonymeMessage = objSupportMessages.pseudoMessagerie %}
                                        {% else %}
                                            {% set pseudonymeMessage = objSupportMessages.login %}
                                        {% endif %}
                                        {{ include('messageViewLeft.html5.twig', {'objSupportMessage': objSupportMessages, 'pseudonyme': pseudonymeMessage}, with_context = false) }}
                                    {% endif %}
                                {% else %}
                                    {% if objSupportDiscussion.getIdCompte != currentAccount.getId %}
                                        {% if objSupportMessages.idCompte != objSupportDiscussion.getIdCompte %}
                                            {% set pseudonymeMessage = objSupportMessages.pseudoMessagerie %}
                                        {% else %}
                                            {% set pseudonymeMessage = objSupportMessages.login %}
                                        {% endif %}
                                        {{ include('messageViewLeft.html5.twig', {'objSupportMessage': objSupportMessages, 'pseudonyme': pseudonymeMessage}, with_context = false) }}
                                    {% else %}
                                        {% if objSupportMessages.idCompte != objSupportDiscussion.getIdCompte %}
                                            {% set pseudonymeMessage = objSupportMessages.pseudoMessagerie %}
                                        {% else %}
                                            {% set pseudonymeMessage = objSupportMessages.login %}
                                        {% endif %}
                                        {{ include('messageViewRight.html5.twig', {'objSupportMessage': objSupportMessages, 'pseudonyme': pseudonymeMessage}, with_context = false) }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                {% if objSupportDiscussion.getEstArchive != true %}
                    <div class="box-footer">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-lg-10 col-md-9 col-xs-8">
                                    <textarea id="Contenue_Reponse_Ticket" type="text" name="message" placeholder="Message..." class="form-control input-sm"></textarea>
                                </div>
                                <div class="col-lg-2 col-md-3 col-xs-4">
                                    <button type="button" onclick="addMessage()" class="btn btn-primary btn-flat btn-sm" style="width: 100%">
                                        Envoyer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endif %}                         
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var idCompte = "{{ currentAccount.getId }}";
        var idDiscussion = "{{ objSupportDiscussion.getId }}";
        var myLogin = "{{ currentAccount.getLogin }}";
        var myPseudoMessagerie = "{{ currentAccount.getPseudoMessagerie }}";

        var objDiv = document.getElementById("Cadre_Fil_Discussion");
        objDiv.scrollTop = objDiv.scrollHeight;

        $('.dateEtatChange').bind('inview', function (event, isVisible) {
            if ($(this).hasClass("NonLu")) {
                if (isVisible) {
                    $.ajax({
                        type: "POST",
                        url: "pages/Messagerie/ajax/ajaxMessageIsView.php",
                        data: "idMessage=" + $(this).parent(".direct-chat-timestamp").parent(".direct-chat-text").parent(".direct-chat-msg").attr("id"),
                        success: function (etat) {

                            Actualisation_Messages_Sans_Boucle();
                            $(this).removeClass("NonLu");

                        }
                    });
                }
            }
        });

        function addMessage() {

            Barre_De_Statut("Envoie du message...");
            Icone_Chargement(1);
            if ($("#Contenue_Reponse_Ticket").val() != "") {

                displayLoadingChat();

                $.ajax({
                    type: "POST",
                    url: "pages/Messagerie/ajax/ajaxMessageAdd.php",
                    data: "idCompte=" + idCompte + "&idDiscussion=" + idDiscussion + "&message=" + $("#Contenue_Reponse_Ticket").val(),
                    success: function (msg) {

                        var json = JSON.parse(msg);

        {% if isAdmin %}

                            $("#Cadre_Fil_Discussion").append('<div class="direct-chat-msg right" id="Message_' + json.id + '" style="margin-bottom: 18px;"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-right">' + myPseudoMessagerie + '</span></div><div class="direct-chat-text" style="width: 75%; padding-right: 52px; background-color: #656565 !important; margin-right: 0px;float: right;"><span class="direct-chat-timestamp pull-left" style="color: #D4D4D4; position: absolute; right: 10px;">' + json.date + '</span>' + json.message + '</div></div>');
        {% else %}
                            $("#Cadre_Fil_Discussion").append('<div class="direct-chat-msg right" id="Message_' + json.id + '" style="margin-bottom: 18px;"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-right">' + myLogin + '</span></div><div class="direct-chat-text" style="width: 75%; padding-right: 52px; background-color: #656565 !important; margin-right: 0px;float: right;"><span class="direct-chat-timestamp pull-left" style="color: #D4D4D4; position: absolute; right: 10px;">' + json.date + '</span>' + json.message + '</div></div>');

        {% endif %}

                            $("#Contenue_Reponse_Ticket").val("");
                            $("#Cadre_Fil_Discussion").animate({scrollTop: $("#Cadre_Fil_Discussion")[0].scrollHeight}, 300);

                            var nombre_tempo = parseInt($("#Nombre_De_Message").html());
                            nombre_tempo++;
                            $("#Nombre_De_Message").html(nombre_tempo);

                            $("#Cadre_Fil_Discussion").animate({scrollTop: $("#Cadre_Fil_Discussion")[0].scrollHeight}, 1);

                            Barre_De_Statut("Message envoyé");
                            Icone_Chargement(0);
                            hideLoadingChat();

                        }
                    });
                } else {
                    Barre_De_Statut("Message vide.");
                    Icone_Chargement(2);
                    return false;
                }
            }
    </script>
{% endif %}