<div class="row">

    <div class="col-lg-12">
        <table class="table table-condensed table-hover" style="border-collapse: collapse; margin-bottom: 0px;">

            <thead>
                <tr>
                    <th width="120" data-tooltip="Expediteur du premier message de la discussion">Expediteur</th>
                    <th width="120" data-tooltip="Destinataire du premier message de la discussion">Destinataire</th>
                    <th data-tooltip="Objet de la discussion">Objet</th>
                    <th width="240" data-tooltip="Date du début de la discussion">Dernier message</th>
                </tr>
            </thead>

            <tbody>
                {% if arrObjSupportDiscussions|length > 0 %}

                    {% for objSupportDiscussion in arrObjSupportDiscussions %}
                        <tr onclick="DiscussionOpen({{ encryptForUrl(objSupportDiscussion.id) }});" class="Pointer">
                            <td>{{ objSupportDiscussion.user }}</td>
                            <td>{{ objSupportDiscussion.admin }}</td>
                            <td>{{ objSupportDiscussion.objet }}</td>
                            <td>{{ getFormatedDateTime(objSupportDiscussion.dateDernierMessage) }}</td>
                        </tr>
                    {% endfor %}

                {% else %}
                    <tr><td colspan="7">Aucune discussion en archive.</td></tr>
                {% endif %}

            </tbody>
        </table>
    </div>
</div>