<span class='text-yellow'>{{ objItem.localeName|convert_encoding('UTF-8', 'ISO-8859-1') }}</span>
<br/>
<span class='Couleur_Level_Item'>Level : {{ objItem.limitvalue0 }}</span>
<br/>
{% set bonusBase1 = objItem.applytype0 %}
{% if bonusBase1 != 0 %}
    <br/>
    {% if objItem.applyvalue0 < 0 %}
        <span class='text-red'>{{ helpItemAttr(bonusBase1) }} : {{ objItem.applyvalue0 }}</span>
    {% else %}
        <span class='text-green'>{{ helpItemAttr(bonusBase1) }} : {{ objItem.applyvalue0 }}</span>
    {% endif %}
{% endif %}

{% set bonusBase2 = objItem.applytype1 %}
{% if bonusBase2 != 0 %}
    <br/>
    {% if objItem.applyvalue1 < 0 %}
        <span class='text-red'>{{ helpItemAttr(bonusBase2) }} : {{ objItem.applyvalue1 }}</span>
    {% else %}
        <span class='text-green'>{{ helpItemAttr(bonusBase2) }} : {{ objItem.applyvalue1 }}</span>
    {% endif %}
{% endif %}

{% set bonusBase3 = objItem.applytype2 %}
{% if bonusBase3 != 0 %}
    <br/>
    {% if objItem.applyvalue2 < 0 %}
        <span class='text-red'>{{ helpItemAttr(bonusBase3) }} : {{ objItem.applyvalue2 }}</span>
    {% else %}
        <span class='text-green'>{{ helpItemAttr(bonusBase3) }} : {{ objItem.applyvalue2 }}</span>
    {% endif %}
{% endif %}

{% set bonusAjoute1 = objItem.attrtype0 %}
{% if bonusAjoute1 != 0 %}
    <br/>
    {% if objItem.attrvalue0 < 0 %}
        <span class='text-red'>{{ helpItemAttr(bonusAjoute1) }} : {{ objItem.attrvalue0 }}</span>
    {% else %}
        <span class='text-green'>{{ helpItemAttr(bonusAjoute1) }} : {{ objItem.attrvalue0 }}</span>
    {% endif %}
{% endif %}

{% set bonusAjoute2 = objItem.attrtype1 %}
{% if bonusAjoute2 != 0 %}
    <br/>
    {% if objItem.attrvalue1 < 0 %}
        <span class='text-red'>{{ helpItemAttr(bonusAjoute2) }} : {{ objItem.attrvalue1 }}</span>
    {% else %}
        <span class='text-green'>{{ helpItemAttr(bonusAjoute2) }} : {{ objItem.attrvalue1 }}</span>
    {% endif %}
{% endif %}

<br/>
<br/>

{% if objItem.socket1 != 0 %}
    {{ attribute(pierreItem, objItem.socket1) }}
    <br/>
{% endif %}

{% if objItem.socket2 != 0 %}
    {{ attribute(pierreItem, objItem.socket2) }}
    <br/>
{% endif %}

{% if objItem.socket3 != 0 %}
    {{ attribute(pierreItem, objItem.socket3) }}
    <br/>
{% endif %}

{% if objItem.socket4 != 0 %}
    {{ attribute(pierreItem, objItem.socket4) }}
    <br/>
{% endif %}

{% if objItem.socket5 != 0 %}
    {{ attribute(pierreItem, objItem.socket5) }}
    <br/>
{% endif %}

{% set bonusAjoute3 = objItem.attrtype2 %}
{% if bonusAjoute3 != 0 %}
    <br/>
    {% if objItem.attrvalue2 < 0 %}
        <span class='text-red'>{{ helpItemAttr(bonusAjoute3) }} : {{ objItem.attrvalue2 }}</span>
    {% else %}
        <span class='text-green'>{{ helpItemAttr(bonusAjoute3) }} : {{ objItem.attrvalue2 }}</span>
    {% endif %}
{% endif %}

{% set bonusAjoute4 = objItem.attrtype3 %}
{% if bonusAjoute4 != 0 %}
    <br/>
    {% if objItem.attrvalue3 < 0 %}
        <span class='text-red'>{{ helpItemAttr(bonusAjoute4) }} : {{ objItem.attrvalue3 }}</span>
    {% else %}
        <span class='text-green'>{{ helpItemAttr(bonusAjoute4) }} : {{ objItem.attrvalue3 }}</span>
    {% endif %}
{% endif %}

{% set bonusAjoute5 = objItem.attrtype4 %}
{% if bonusAjoute5 != 0 %}
    <br/>
    {% if objItem.attrvalue4 < 0 %}
        <span class='text-red'>{{ helpItemAttr(bonusAjoute5) }} : {{ objItem.attrvalue4 }}</span>
    {% else %}
        <span class='text-green'>{{ helpItemAttr(bonusAjoute5) }} : {{ objItem.attrvalue4 }}</span>
    {% endif %}
{% endif %}

{% set bonusAjoute6 = objItem.attrtype5 %}
{% if bonusAjoute6 != 0 %}
    <br/>
    {% if objItem.attrvalue5 < 0 %}
        <span class='text-red'>{{ helpItemAttr(bonusAjoute6) }} : {{ objItem.attrvalue5 }}</span>
    {% else %}
        <span class='text-green'>{{ helpItemAttr(bonusAjoute6) }} : {{ objItem.attrvalue5 }}</span>
    {% endif %}
{% endif %}

{% set bonusAjoute7 = objItem.attrtype6 %}
{% if bonusAjoute7 != 0 %}
    <br/>
    {% if objItem.attrvalue6 < 0 %}
        <span class='text-red'>{{ helpItemAttr(bonusAjoute7) }} : {{ objItem.attrvalue6 }}</span>
    {% else %}
        <span class='text-green'>{{ helpItemAttr(bonusAjoute7) }} : {{ objItem.attrvalue6 }}</span>
    {% endif %}
{% endif %}