<div class="box box-default flat" style="margin-bottom: 0px;">

    <div class="box-header">
        {% if objGmList.getMid > 0 %}
            <h3 class="box-title">Modification d'un membre</h3>
        {% else %}
            <h3 class="box-title">Ajout d'un membre</h3>
        {% endif %}
    </div>

    <input type="hidden" id="GmListMid" value="{{ objGmList.getMid }}">

    <div class="box-body no-padding" style="padding-top: 10px !important;">
        <div class="col-lg-6">
            <div class="form-group ">
                <label for="playerId">
                    Joueur
                </label>

                <div class="input-group col-xs-12">
                    <select name="playerId" id="playerId">
                        {% if objPlayer != null %}
                            <option value="{{ objPlayer.getId }}" selected="selected">{{ objPlayer.getName }}</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group ">
                <label for="playerId">
                    Autorité
                </label>

                <div class="input-group col-xs-12">
                    <select id="authority" class="select2">
                        {% if arrAuthority|length > 0 %}
                            {% for idAuthority, authority in arrAuthority %}
                                {% if idAuthority == objGmList.getMauthority %}
                                    <option value="{{ idAuthority }}" selected>{{ authority }}</option>
                                {% else %}
                                    <option value="{{ idAuthority }}">{{ authority }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group ">
                <label for="playerId">
                    Adresse ip
                </label>

                <div class="input-group col-xs-12">
                    <input type="text" id="playerIp" class="form-control input-sm text" value="{{ objGmList.getMcontactip }}" required >
                </div>
            </div>
        </div>

    </div>

    <div class="box-footer">
        <div class="pull-left">
            <input type="button" class="btn btn-danger btn-flat" onclick="$.featherlight.close();" value="Fermer" />
        </div>
        <div class="pull-right">
            <input type="button" class="btn btn-success btn-flat" onclick="EnregistrementMembreEquipe();" value="Enregistrer" />
        </div>
    </div>

    <script>

        redrawSelect2();

        $("#playerId").select2({
            allowClear: true,
            placeholder: {
                id: "",
                text: "-"
            },
            ajax: {
                url: "core/class/SearchPlayerByName.php",
                dataType: 'json',
                delay: 400,
                data: function (params) {
                    return {
                        term: params.term
                    };
                },
                processResults: function (data, page) {
                    var results = [];
                    $.each(data, function (index, item) {
                        results.push({
                            id: item.ID,
                            text: item.label
                        });
                    });
                    return {
                        results: results
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            },
            minimumInputLength: 2
        });

        function EnregistrementMembreEquipe() {

            displayLoading();

            $.ajax({
                type: "POST",
                url: "pages/Admin/modules/GererEquipeJeu/ajax/ajaxGererEquipeJeuEditSave.php",
                data: {"GmListMid": $("#GmListMid").val(), "playerId": $("#playerId").val(), "playerIp": $("#playerIp").val(), "authority": $("#authority").val()},
                success: function (msg) {
                    hideLoading();
                    $.featherlight.close();
                    parent.oTable.fnStandingRedraw();
                }

            });
        }
    </script>
</div>