{% if arrObjMarcheArticles|length > 0 %}

    {% for objMarcheArticle in arrObjMarcheArticles %}

        <div class="Article_Marche" id="Article_Vente_{{ objMarcheArticle.idMarchePersonnage }}">

            <div class="titreArticleMarche">
                {{ objMarcheArticle.designation }}
            </div>

            <div style="padding-top: 10px; text-align: center;">
                {% if objMarcheArticle.job == "0" %}
                    <img src="../../images/races/Guerrier_Homme.png" height="140" />
                {% elseif objMarcheArticle.job == "1" %}
                    <img src="../../images/races/Ninja_Femme.png" height="140" />
                {% elseif objMarcheArticle.job == "2" %}
                    <img src="../../images/races/Sura_Homme.png" height="140" />
                {% elseif objMarcheArticle.job == "3" %}
                    <img src="../../images/races/Chaman_Femme.png" height="140" />
                {% elseif objMarcheArticle.job == "4" %}
                    <img src="../../images/races/Guerrier_Femme.png" height="140" />
                {% elseif objMarcheArticle.job == "5" %}
                    <img src="../../images/races/Ninja_Homme.png" height="140" />
                {% elseif objMarcheArticle.job == "6" %}
                    <img src="../../images/races/Sura_Femme.png" height="140" />
                {% elseif objMarcheArticle.job == "7" %}
                    <img src="../../images/races/Chaman_Homme.png" height="140" />
                {% endif %}
            </div>

            <div style="position: absolute; bottom: 0px; height: 60px; width: 100%; background: #313131; border-top: 1px solid #484848;">

                <div class="nomArticleMarche">
                    {{ objMarcheArticle.name }} <span class="pull-right">Niveau {{ objMarcheArticle.level }}</span>
                </div>

                <div class="articlePrixMarche {% if objMarcheArticle.idDevise == "2" %}bg-gray text-black{% else %}btn-warning{% endif %}">
                    <span>{{ objMarcheArticle.prix|number_format(0, '.', '.') }}</span>
                </div>

                <div class="buttonArticleMarche">
                    <a data-featherlight="ajax" data-featherlight-variant="featherLightbox_50" href="pages/Marche/MarchePlayerInfo.php?id_marche_perso={{ objMarcheArticle.idMarchePersonnage }}">
                        <i data-tootlip="Voir les informations de l'article" class="material-icons md-icon-help md-28 text-blue"></i>
                    </a>
                    <i data-tooltip="Annuler la vente" onclick="SaleCancel({{ objMarcheArticle.idMarchePersonnage }})" class="material-icons md-icon-close md-28 text-red"></i>
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
    <div>
        Aucun personnage n'a été trouvé.
    </div>
{% endif %}