<div class="row">
    <div class="col-lg-6">
        <table class="table table-condensed table-hover" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Personnage</th>
                    <th>Classe</th>
                    <th width="30">Lvl</th>
                    <th width="55">Action</th>
                </tr>

            </thead>

            <tbody>

                {% if arrObjPlayers|length > 0 %}

                    {% for objPlayers in arrObjPlayers %}
                        <tr>
                            <td>
                                {{ findIconJob(objPlayers.job)|raw }}
                                {{ objPlayers.name }}
                            </td>
                            <td>
                                {{ findSkillGroup(objPlayers.getJob, objPlayers.getSkillGroup) }}
                            </td>
                            <td>{{ objPlayers.getLevel }}</td>
                            <td>
                                <a data-tooltip="Vendre ce personnage" data-featherlight="ajax" data-featherlight-variant="featherLightbox_50" href="pages/Marche/ajax/ajaxGetSaleForm.php?idPlayer={{ encryptForUrl(objPlayers.id) }}">
                                    Vendre
                                </a>
                            </td>
                        </tr>

                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">
                            Aucun personnages
                        </td>
                    </tr>
                {% endif %}
            </tbody>

        </table>

    </div>
    <div class="col-lg-6">
        - Vendez votre personnage contre des monnaies.<br/>
        - Le personnage sera détaché du compte.<br/>
        - Il sera remplacé par un personnage factice.<br/>
        - Votre personnage sera sur la place du marché.<br/>
        - Cela transfère l'équipement et l'inventaire.<br/>
        - Le royaume du personnage est celui du compte.<br/>
        - Le prix minimal est de 2 000 Vamonaies/Tananaies.<br/>
        - Ce personnage ne doit pas être marié et sans guilde.<br />
    </div>
</div>