{% if arrObjItems|length > 0 %}

    {% set lastItem = iDepart %}

    {% for objItem in arrObjItems %}

        {% if ((lastItem - objItem.pos)|abs -1) > 0 %}

            {% for i in 1..((lastItem - objItem.pos)|abs -1) %}
                <div class="Case_Inventaire">
                    &nbsp;
                </div>
            {% endfor %}

        {% endif %}

        <div class="Case_Inventaire" style="position: relative;">

            {% if objItem.chemin != "" %}

                <div class="Interieur_Case" data-tooltip="{{ include('ajaxItemGetInfo.html5.twig') }}" data-tooltip-track="1" data-tooltip-isItemMetin="1" style="position: relative; text-align: center;">

                    {% if objItem.size  == "1" %}
                        <img id="cade_id_{{ objItem.id }}" src="{{ objItem.chemin }}" style="display: inline; cursor: default; width: 80%; padding-top: 10%; position: relative;" />
                    {% elseif objItem.size  == "2" %}
                        <img id="cade_id_{{ objItem.id }}" src="{{ objItem.chemin }}" style="display: inline; cursor: default; width: 90%; position: relative; padding-top: 8%;" />
                    {% else %}
                        <img id="cade_id_{{ objItem.id }}" src="{{ objItem.chemin }}" style="display: inline; cursor: default; width: 100%; position: relative;" />
                    {% endif %}
                </div>

                {% if objItem.flag == 4 or objItem.flag == 20 or objItem.flag == 132 or objItem.flag == 2052 or objItem.flag == 8212 %}  
                    <span style="position: absolute; bottom: 1px; right: 1px;">
                        {% if objItem.count < 100 %}
                            {% if objItem.count < 10 %}
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ objItem.count }}
                            {% else %}
                                &nbsp;&nbsp;{{ objItem.count }}
                            {% endif %}
                        {% else %}
                            {{ objItem.count }}
                        {% endif %}
                    </span>
                {% endif %}

            {% else %}
                <div class="Interieur_Case">
                    {% if objItem.size  == "1" %}
                        <img style="display: block; width: 100%;" src="../images/item_inexistant_1.png" data-tooltip-track="1" data-tooltip-isItemMetin="1" data-tooltip="Icone de {{ objItem.localeName }} ({{ objItem.vnum }}) introuvable." />
                    {% elseif objItem.size  == "2" %}
                        <img style="display: block; width: 100%;" src="../images/item_inexistant_2.png" data-tooltip-track="1" data-tooltip-isItemMetin="1" data-tooltip="Icone de {{ objItem.localeName }} ({{ objItem.vnum }}) introuvable." />
                    {% elseif objItem.size  == "3" %}
                        <img style="display: block; width: 100%;" src="../images/item_inexistant_3.png" data-tooltip-track="1" data-tooltip-isItemMetin="1" data-tooltip="Icone de {{ objItem.localeName }} ({{ objItem.vnum }}) introuvable." />
                    {% endif %}
                </div>

            {% endif %}
        </div>

        {% set lastItem = objItem.pos %}

    {% endfor %}
{% endif %}