<div class="col-lg-3">

    <div style="text-align: center; padding-top: 20px;">

        {% if haveGuild %}
            <div class="row">
                <div class="col-lg-12" style="font-size: 16px;">
                    {% if haveGuild.isMaster %}
                        <i class="material-icons md-icon-group-work text-yellow md-20"></i>
                    {% else %}
                        <i class="material-icons md-icon-group-work text-gray md-20"></i>
                    {% endif %}
                    <span style="position: relative; top:-3px;">
                        {{ haveGuild.name }}
                    </span>
                </div>
            </div>
        {% endif %}
        <h4 style="font-size: 16px; margin-top: 5px;"><span class="text-olive">Lv {{ objPlayer.getLevel }}</span> 
            {% if calculateGrade == 0 %}
                <span class="text-gray">{{ helpGrade(calculateGrade) }}</span>
            {% elseif calculateGrade < 0 %}
                <span class="text-red">{{ helpGrade(calculateGrade) }}</span>
            {% else %}
                <span class="text-blue">{{ helpGrade(calculateGrade) }}</span>
            {% endif %} 
            &nbsp;<span class="yellow">{{ objPlayer.getName }}</span>
        </h4>
    </div>

    <div style="padding-top: 5px; text-align: center; padding-bottom: 20px;">
        {% if objPlayer.getJob == "0" %}
            <img src="../images/races/Guerrier_Homme.png" style="width: 60%;" />
        {% elseif objPlayer.getJob == "1" %}
            <img src="../images/races/Ninja_Femme.png" style="width: 60%;" />
        {% elseif objPlayer.getJob == "2" %}
            <img src="../images/races/Sura_Homme.png" style="width: 60%;" />
        {% elseif objPlayer.getJob == "3" %}
            <img src="../images/races/Chaman_Femme.png" style="width: 60%;" />
        {% elseif objPlayer.getJob == "4" %}
            <img src="../images/races/Guerrier_Femme.png" style="width: 60%;" />
        {% elseif objPlayer.getJob == "5" %}
            <img src="../images/races/Ninja_Homme.png" style="width: 60%;" />
        {% elseif objPlayer.getJob == "6" %}
            <img src="../images/races/Sura_Femme.png" style="width: 60%;" />
        {% elseif objPlayer.getJob == "7" %}
            <img src="../images/races/Chaman_Homme.png" style="width: 60%;" />
        {% endif %}
    </div>

</div>

<div class="col-lg-6 specialColumn" style="padding-top: 20px;">
    
    <div style="font-size: 15px;">
        Expérience
    </div>

    <div style="position: relative; left: -3px; top: 2px;margin-bottom: 5px;">
        {{ include('experience_bubles.html5.twig', {'myScale': '0.25'}) }}
    </div>
    
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-lg-12" style="font-size: 16px;">
            <i class="material-icons md-icon-time text-gray md-20"></i> 
            <span style="position: relative; top:-3px;">
                {{ getMinutesToString(objPlayer.getPlaytime) }} de jeu
            </span>
        </div>
    </div>

    <div class="row" style="margin-bottom: 5px;">
        <div class="col-lg-12" style="font-size: 16px;">
            <i class="material-icons md-icon-location text-orange md-20"></i> 
            <span style="position: relative; top:-3px;">
                <span class="text-yellow">{{ localisation.positionX }} - {{ localisation.positionY }}</span> {{ localisation.map }}
            </span>
        </div>
    </div>

    {% if objMarriage %}
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-12" style="font-size: 16px;">
                {% if isWomen(objPlayer.getJob) %}
                    <i class="material-icons md-icon-people text-olive md-20"></i> 
                    <span style="position: relative; top:-3px;">
                        Mariée à {{ objMarriage.name }}
                    </span>
                {% else %}
                    <i class="material-icons md-icon-people text-olive md-20"></i>
                    <span style="position: relative; top:-3px;">
                        Marié à {{ objMarriage.name }}
                    </span>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div style="margin-top: 10px;">
        {{ include('player_stats.html5.twig') }}
    </div>

    <div class="row" style="padding-top: 10px;">
        <div class="col-lg-12">

            {% if config.mod_player.repairPosition.activate %}
                <button style="margin-bottom: 5px; width: 32.6%;" type="button" data-tooltip="Débloquer la position" class="btn btn-flat btn-warning" onclick="Deblocage_Personnage('{{ encrypt(objPlayer.getId) }}');">
                    Débloquer
                </button>
            {% endif %}

            {% if objPlayer.getGold < 0 %}
                <button style="margin-bottom: 5px; width: 32.6%;" type="button" data-tooltip="Débloquer mes yangs" class="btn btn-flat btn-warning" onclick="Deblocage_Yangs('{{ encryptForUrl(objPlayer.getId) }}');">
                    Débloquer les yangs
                </button>
            {% endif %}

            {% if config.mod_player.rename.activate %}
                <button style="margin-bottom: 5px; width: 32.6%;" type="button" class="btn btn-flat btn-primary" onclick="Ajax('pages/MonPersonnage/PersonnageRenameForm.php?idPlayer={{ encryptForUrl(objPlayer.getId) }}');">
                    Renommer
                </button>
            {% endif %}

            {% if config.mod_player.delete.activate %}
                <button style="margin-bottom: 5px; width: 32.6%;" type="button" class="btn btn-flat btn-danger" onclick="Ajax('pages/MonPersonnage/PersonnageDeleteForm.php?idPlayer={{ encryptForUrl(objPlayer.getId) }}');">
                    Supprimer
                </button>
            {% endif %}
        </div>
    </div>

</div>

<div class="col-lg-3 specialColumn" style="padding-top: 10px; padding-bottom: 10px;">
    {{ viewEquipement|raw }}
    {{ viewInventaire|raw }}

    <div style="background: #000000; height: 24px; width: 100%; border: 1px solid #6B645B; font-size: 12px; line-height: 23px; border-top: 0; padding-left: 5px; padding-right: 5px;">
        <span style="float: right;">{{ objPlayer.getGold|number_format }} Yang</span>
    </div>
</div>


<script type="text/javascript">
    Fonction_Reteneuse_Cash({{ session.get("Cash") }});
    Fonction_Reteneuse_Tananaies({{ session.get("TanaNaies") }});
</script>  