<div class="row">
    <div class="col-lg-4" style="padding-left: 25px; padding-top: 10px; padding-bottom: 10px;">

        <div id="Equipement">

            <div class="Case_Equipement Case_Arme">
                {{ include('ajaxEquipement.html5.twig', {objItem: objItemArme}, with_context = false) }}
            </div>
            <div class="Case_Equipement Case_Armure">
                {{ include('ajaxEquipement.html5.twig', {objItem: objItemArmure}, with_context = false) }}
            </div>
            <div class="Case_Equipement Case_Casque">
                {{ include('ajaxEquipement.html5.twig', {objItem: objItemCasque}, with_context = false) }}
            </div>
            <div class="Case_Equipement Case_Bouclier">
                {{ include('ajaxEquipement.html5.twig', {objItem: objItemBouclier}, with_context = false) }}
            </div>
            <div class="Case_Equipement Case_Bracelet">
                {{ include('ajaxEquipement.html5.twig', {objItem: objItemBracelet}, with_context = false) }}
            </div>
            <div class="Case_Equipement Case_Boucles">
                {{ include('ajaxEquipement.html5.twig', {objItem: objItemBoucle}, with_context = false) }}
            </div>
            <div class="Case_Equipement Case_Collier">
                {{ include('ajaxEquipement.html5.twig', {objItem: objItemCollier}, with_context = false) }}
            </div>
            <div class="Case_Equipement Case_Chaussure">
                {{ include('ajaxEquipement.html5.twig', {objItem: objItemChaussure}, with_context = false) }}
            </div>
            <div class="Case_Equipement Case_Fleche">
                {{ include('ajaxEquipement.html5.twig', {objItem: objItemFleche}, with_context = false) }}
            </div>

            <div class="Case_Equipement Case_Special1">
                {{ include('ajaxEquipement.html5.twig', {objItem: objItemSpecial1}, with_context = false) }}
            </div>
            <div class="Case_Equipement Case_Special2">
                {{ include('ajaxEquipement.html5.twig', {objItem: objItemSpecial2}, with_context = false) }}
            </div>

        </div>

    </div>
</div>
