<div class="row">

    <div class="col-lg-3">

        <div style="padding-top: 5px; text-align: center; padding-bottom: 20px;">
            {% if objPlayer.getJob == "0" %}
                <img class="Position_Icone_Article_Personnage" src="../images/races/Guerrier_Homme.png" height="350" />
            {% elseif objPlayer.getJob == "1" %}
                <img class="Position_Icone_Article_Personnage" src="../images/races/Ninja_Femme.png" height="350" />
            {% elseif objPlayer.getJob == "2" %}
                <img class="Position_Icone_Article_Personnage" src="../images/races/Sura_Homme.png" height="350" />
            {% elseif objPlayer.getJob == "3" %}
                <img class="Position_Icone_Article_Personnage" src="../images/races/Chaman_Femme.png" height="350" />
            {% elseif objPlayer.getJob == "4" %}
                <img class="Position_Icone_Article_Personnage" src="../images/races/Guerrier_Femme.png" height="350" />
            {% elseif objPlayer.getJob == "5" %}
                <img class="Position_Icone_Article_Personnage" src="../images/races/Ninja_Homme.png" height="350" />
            {% elseif objPlayer.getJob == "6" %}
                <img class="Position_Icone_Article_Personnage" src="../images/races/Sura_Femme.png" height="350" />
            {% elseif objPlayer.getJob == "7" %}
                <img class="Position_Icone_Article_Personnage" src="../images/races/Chaman_Homme.png" height="350" />
            {% endif %}
        </div>

    </div>

    <div class="col-lg-5">
        <table class="table table-condensed" style="border-collapse: collapse;">
            <tr>
                <td style="border-top: 0px;" class="Colonne_Gauche">
                    <span>Personnage</span>
                </td>
                <td style="border-top: 0px;">
                    {{ objPlayer.getName }}
                </td>
            </tr>
            <tr>
                <td class="Colonne_Gauche">
                    <span>Level</span>
                </td>
                <td>{{ objPlayer.getLevel }}</td>
            </tr>
            <tr>
                <td class="Colonne_Gauche">Expérience</td>
                <td>{{ objPlayer.getExp|number_format }}</td>
            </tr>
            <tr>
                <td class="Colonne_Gauche">
                    <span>Yangs</span>
                </td>
                <td>{{ objPlayer.getGold|number_format }}</td>
            </tr>
            <tr>
                <td class="Colonne_Gauche">
                    <span>Temp de jeu</span>
                </td>
                <td>{{ getMinutesToString(objPlayer.getPlaytime) }}</td>
            </tr>
            <tr>
                <td class="Colonne_Gauche">
                    <span>Grade</span>
                </td>
                {% if calculateGrade < 0 %}
                    <td>
                        <span class="text-red">{{ tabGrade[calculateGrade] }}</span>
                    </td>
                {% else %}
                    <td>
                        <span class="text-blue">{{ tabGrade[calculateGrade] }}</span>
                    </td>
                {% endif %}
            </tr>

            <tr>
                <td class="Colonne_Gauche">Dernière connexion</td>
                <td><span style="font-size: 12px; font-weight: bold;">{{ getFormatedDateTime(objPlayer.getLastPlay) }}</span></td>
            </tr>

            <tr>
                <td class="Colonne_Gauche">
                    {% if isConnected %}
                        <span>Map</span>
                    {% else %}
                        <span>Map de sortie</span>
                    {% endif %}
                </td>
                <td>{{ localisation.map }}</td>
            </tr>
            <tr>
                <td class="Colonne_Gauche">
                    <span>Position</span>
                </td>
                <td>{{ localisation.positionX }} - {{ localisation.positionY }}</td>
            </tr>
        </table>
    </div>

    <div class="col-lg-4">

        <table class="table table-condensed" style="border-collapse: collapse;">
            <tr>
                <td style="border-top: 0px;">Compte</td>
                <td style="border-top: 0px;">
                    <a title="Aller sur la page du compte" href="javascript:void(0)" onclick="Ajax('pages/MonCompte/modules/MonCompte.php')">
                        {{ objAccount.getLogin }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Empire</td>
                <td style="line-height: 10px;">
                    {% if objPlayerIndex.empire == 1 %}
                        <i data-tooltip="Empire Shinsoo" data-tooltip-position="left" class="text-red material-icons md-icon-map md-20"></i>
                    {% elseif objPlayerIndex.empire == 2 %}
                        <i data-tooltip="Empire Chunjo" data-tooltip-position="left" class="text-yellow material-icons md-icon-map md-20"></i>
                    {% elseif objPlayerIndex.empire == 3 %}
                        <i data-tooltip="Empire Jinno" data-tooltip-position="left" class="text-blue material-icons md-icon-map md-20"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td style="line-height: 10px;">
                    {% if objAccount.getStatus == "OK" %}
                        <i data-tooltip="Compte actif" data-tooltip-position="left" class="text-green material-icons md-icon-done md-20"></i>
                    {% elseif objAccount.getStatus == "BLOCK" %}
                        <i data-tooltip="Compte banni" data-tooltip-position="left" class="text-red material-icons md-icon-close md-20"></i>
                    {% else %}
                        <i data-tooltip="Etat inconnu" data-tooltip-position="left" class="material-icons md-icon-help md-20"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>IP</td></td>
                <td>{{ objPlayer.getIp }}</td>
            </tr>
        </table>

        <table class="table table-condensed" style="border-collapse: collapse;">
            <tr>
                <td>Guilde</td>
                {% if haveGuild == false %}
                    <td>
                        Pas de guilde
                    </td>
                {% else %}
                    <td>
                        {{ haveGuild.name }}
                        <div class="pull-right" style="line-height: 10px;">
                            {% if haveGuild.isMaster %}
                                <i class="material-icons md-icon-person text-yellow" data-tooltip="Chef"></i>
                            {% else %}
                                <i class="material-icons md-icon-person text-gray" data-tooltip="Membre"></i>
                            {% endif %}
                        </div>
                    </td>
                {% endif %}
            </tr>
            <tr>
                <td>Conjoint</td>

                {% if objMarriage == null %}
                    <td>Célibataire</td>
                {% else %}
                    {% if objMarriage.job == "1" or objMarriage.job == "3" or objMarriage.job == "4" or objMarriage.job == "6" %}   
                        <td>Marié à {{ objMarriage.name }}</td>
                    {% else %}
                        <td>Mariée à {{ objMarriage.name }}</td>
                    {% endif %}
                {% endif %}
            </tr>

        </table>


        <table class="table table-condensed" style="border-collapse: collapse;">
            <tr>
                <td style="border-top: 0px;">Vitalité</td></td>
                <td style="border-top: 0px;">{{ objPlayer.getHt }}</td>
            </tr>
            <tr>
                <td>Intelligence</td></td>
                <td>{{ objPlayer.getIq }}</td>
            </tr>
            <tr>
                <td>Force</td></td>
                <td>{{ objPlayer.getSt }}</td>
            </tr>
            <tr>
                <td>Dextérité</td></td>
                <td>{{ objPlayer.getDx }}</td>
            </tr>

        </table>
    </div>

</div>

<div class="row">
    <div class="col-lg-12" style="padding-bottom: 10px; padding-left: 25px;">

        <button type="button" data-tooltip="Débloquer la position" class="btn btn-flat btn-warning" onclick="Deblocage_Personnage('{{ encryptForUrl(objPlayer.getId) }}');">
            Débloquer
        </button>

        {% if objPlayer.getGold < 0 %}
            <button type="button" data-tooltip="Débloquer mes yangs" class="btn btn-flat btn-warning" onclick="Deblocage_Yangs('{{ encryptForUrl(objPlayer.getId) }}');">
                Débloquer les yangs
            </button>
        {% endif %}

        <button type="button" data-tooltip="Renommer le joueur" class="btn btn-flat btn-primary" onclick="Ajax('pages/MonPersonnage/PersonnageRenameForm.php?idPlayer={{ encryptForUrl(objPlayer.getId) }}');">
            Renommer
        </button>

        <button type="button" data-tooltip="Supprimer le joueur" class="btn btn-flat btn-danger" onclick="Ajax('pages/MonPersonnage/PersonnageDeleteForm.php?idPlayer={{ encryptForUrl(objPlayer.getId) }}');">
            Supprimer
        </button>
    </div>
</div>